Bath_PIR67.json
[{"id":"64548f374d3451a8","type":"tab","label":"Bath auto1","disabled":false,"info":""},{"id":"a0e37ca6bee8c838","type":"trigger","z":"64548f374d3451a8","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1010,"y":500,"wires":[["780dc2f6c3e82819","27758d91ac97ea32","c2656586f0dd6bc3"]],"info":"Shower minutes"},{"id":"557fd15917357ce6","type":"switch","z":"64548f374d3451a8","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["3a8c7e1477b0a466","9ce5b45dcbfe95e6"],["4fcfadba5514583d"]]},{"id":"52d8fdf16703e77c","type":"api-call-service","z":"64548f374d3451a8","name":"Humid high Blue LED on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.bath_sense_blue"],"areaId":[],"deviceId":[]},"data":"{\"brightness_pct\":\"55\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1770,"y":1040,"wires":[["d925835bfc2b3ebf","5711ef31aed289d5"]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"55\"}"},{"id":"9bed507d5a9f61f2","type":"api-call-service","z":"64548f374d3451a8","name":"Humid Blue off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.bath_sense_blue"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1800,"y":1140,"wires":[["1fdcf62978d6e70b"]]},{"id":"13d0ad50a5189887","type":"api-call-service","z":"64548f374d3451a8","name":"bath fan on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"switch","service":"turn_on","target":{"entityId":["switch.bath_fan_switch_2"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":800,"wires":[["2acd5dc87ce051ad"]]},{"id":"57e53edbdde3be89","type":"api-call-service","z":"64548f374d3451a8","name":"bath fan off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"switch","service":"turn_off","target":{"entityId":["switch.bath_fan_switch_2"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":900,"wires":[["b6cbd941b6eefc88"]]},{"id":"3a8c7e1477b0a466","type":"api-call-service","z":"64548f374d3451a8","name":"grn LED on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.bath_sense_green"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":260,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}"},{"id":"91db6982ea01a79c","type":"api-call-service","z":"64548f374d3451a8","name":"Red LED off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.bath_sense_red"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1830,"y":1420,"wires":[["769a27121cf365c2"]]},{"id":"258085d4e8a4cfc2","type":"server-state-changed","z":"64548f374d3451a8","name":"bh","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bath_sense_humidity_2","entityidfiltertype":"regex","outputinitially":false,"state_type":"num","haltifstate":"$entities(\"input_number.bath_humid_set\").state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":50,"y":780,"wires":[["68e0d4b8c49fa312","1079136ad2655249","0fb18b7a1fd79307","ab246b678fea2a55"],["94d6dd61600c8144","04095657c4385f4e","035a0a67c8031009","0fb18b7a1fd79307"]]},{"id":"157221f5d1be40c0","type":"api-current-state","z":"64548f374d3451a8","name":"cooler off","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":920,"wires":[["6a241dd85f963912","b4ab3b6a359d022c","eb3a50fe6b70cb4b"],["8058d21d397ec402"]]},{"id":"2acd5dc87ce051ad","type":"debug","z":"64548f374d3451a8","name":"fan on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":860,"wires":[]},{"id":"b6cbd941b6eefc88","type":"debug","z":"64548f374d3451a8","name":"fan off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1870,"y":960,"wires":[]},{"id":"dcebf568abaa3f37","type":"debug","z":"64548f374d3451a8","name":"15 triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":380,"wires":[]},{"id":"2b24dc62352ad32d","type":"inject","z":"64548f374d3451a8","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":510,"y":460,"wires":[["a0e37ca6bee8c838","521a0959a4d519d2","68e0d4b8c49fa312","94d6dd61600c8144","85f206f8702a4502","57cad016373fd268","f65aebb36961f570","3a811de4bd4a6d35","ef3a3b95d7129116","3ce210a2d1ca3d4d","b4ab3b6a359d022c","d0537bbed8a596d8","4605320c70700e1d","f9651473f502ffa1"]]},{"id":"64b5c44d312da7be","type":"inject","z":"64548f374d3451a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":360,"wires":[["557fd15917357ce6"]]},{"id":"491f974739f50b66","type":"inject","z":"64548f374d3451a8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":90,"y":400,"wires":[["557fd15917357ce6"]]},{"id":"521a0959a4d519d2","type":"trigger","z":"64548f374d3451a8","name":"cool fan on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":640,"wires":[["b4ab3b6a359d022c","13d0ad50a5189887","3f4a5e15adb69fe8","3ce210a2d1ca3d4d"]]},{"id":"b4ab3b6a359d022c","type":"trigger","z":"64548f374d3451a8","name":"cool fan off","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":720,"wires":[["521a0959a4d519d2","2227c673d25305f3"]]},{"id":"553d5bbdf13621bc","type":"trigger","z":"64548f374d3451a8","name":"rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":1180,"wires":[["5eb51dcadf6c8aa1","9ee5a17ca43f812f","c5ef6aa7b4c594b1"]]},{"id":"5eb51dcadf6c8aa1","type":"trigger","z":"64548f374d3451a8","name":"no rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1220,"wires":[["553d5bbdf13621bc","596f1902dcf678e9","09b5aa2043a20b0e"]]},{"id":"68e0d4b8c49fa312","type":"trigger","z":"64548f374d3451a8","name":"humid over threshold","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":980,"y":800,"wires":[["94d6dd61600c8144","52d8fdf16703e77c"]]},{"id":"94d6dd61600c8144","type":"trigger","z":"64548f374d3451a8","name":"humid under","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":860,"wires":[["68e0d4b8c49fa312","eb3a50fe6b70cb4b","9bed507d5a9f61f2"]]},{"id":"e98edf832ca91478","type":"api-current-state","z":"64548f374d3451a8","name":"cooler on","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":660,"wires":[["9af398f2343928fe","521a0959a4d519d2"],["35e6a044d4f76067","21a11d4b7581b8a5"]],"info":"unavailable\nswitch.fan_power\nswitch.bath_fan_switch_2"},{"id":"e14a7b0420f5bb51","type":"change","z":"64548f374d3451a8","name":"reset toggles off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":940,"wires":[["cc80120e0fb2f2d5","68e0d4b8c49fa312","94d6dd61600c8144","521a0959a4d519d2","b4ab3b6a359d022c","d0537bbed8a596d8","4605320c70700e1d","9bed507d5a9f61f2","3a811de4bd4a6d35"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"b9c74e4ff4791845","type":"inject","z":"64548f374d3451a8","name":"false-reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"str","x":500,"y":500,"wires":[["e14a7b0420f5bb51"]]},{"id":"9ce5b45dcbfe95e6","type":"api-current-state","z":"64548f374d3451a8","name":"R we showering-1","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":160,"wires":[["d3b494b563aef688","898731132eb77be4","57cad016373fd268","4605320c70700e1d"],["d81ba176197fefeb","0891cd4020db8bd5","bc7b025b66fa3d43"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n"},{"id":"d3b494b563aef688","type":"debug","z":"64548f374d3451a8","name":"hH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"d81ba176197fefeb","type":"debug","z":"64548f374d3451a8","name":"hL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"ab246b678fea2a55","type":"debug","z":"64548f374d3451a8","name":"humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":70,"y":720,"wires":[]},{"id":"04095657c4385f4e","type":"debug","z":"64548f374d3451a8","name":"not humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":80,"y":860,"wires":[]},{"id":"596f1902dcf678e9","type":"change","z":"64548f374d3451a8","name":"thunder over","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["09b5aa2043a20b0e"]]},{"id":"f3ec09f977908867","type":"trigger","z":"64548f374d3451a8","name":"thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":1400,"wires":[["c45ce3f6380390fb","b4a182213f99072c","5c9a4658d77f2e60"]]},{"id":"c45ce3f6380390fb","type":"trigger","z":"64548f374d3451a8","name":"no thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":1440,"wires":[["f3ec09f977908867","596f1902dcf678e9","3fc8191879ca7216"]]},{"id":"b53628a07573a002","type":"debug","z":"64548f374d3451a8","name":"rain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1140,"wires":[]},{"id":"3fc8191879ca7216","type":"debug","z":"64548f374d3451a8","name":"no thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1480,"wires":[]},{"id":"b4a182213f99072c","type":"debug","z":"64548f374d3451a8","name":"thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1400,"wires":[]},{"id":"a6a2ef407883fa29","type":"debug","z":"64548f374d3451a8","name":"no rain","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1260,"wires":[]},{"id":"1d9d55747da20440","type":"inject","z":"64548f374d3451a8","name":"reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":70,"y":1360,"wires":[["553d5bbdf13621bc","5eb51dcadf6c8aa1","f3ec09f977908867","c45ce3f6380390fb"]]},{"id":"e0d6aaa0b90fb34f","type":"inject","z":"64548f374d3451a8","name":"rain","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["553d5bbdf13621bc"]]},{"id":"5c72b85bd136ae45","type":"api-call-service","z":"64548f374d3451a8","name":"Red LED on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.bath_sense_red"],"areaId":[],"deviceId":[]},"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1830,"y":1360,"wires":[["4f146377d3c4ecc2","766383d28c7f9403"]]},{"id":"36c934f51efd62ad","type":"inject","z":"64548f374d3451a8","name":"no rain","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1320,"wires":[["5eb51dcadf6c8aa1"]]},{"id":"9d8eeb4b5bb758f9","type":"debug","z":"64548f374d3451a8","name":"light is off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":500,"wires":[]},{"id":"6a241dd85f963912","type":"debug","z":"64548f374d3451a8","name":"co true 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":860,"wires":[]},{"id":"9af398f2343928fe","type":"debug","z":"64548f374d3451a8","name":"co true 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":600,"wires":[]},{"id":"35e6a044d4f76067","type":"debug","z":"64548f374d3451a8","name":"CO false 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":700,"wires":[]},{"id":"8058d21d397ec402","type":"debug","z":"64548f374d3451a8","name":"CO false 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":980,"wires":[]},{"id":"46b7cefee904883f","type":"inject","z":"64548f374d3451a8","name":"start blue blinking","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":620,"y":1140,"wires":[["1dff4a02fdae8911"]]},{"id":"cc80120e0fb2f2d5","type":"debug","z":"64548f374d3451a8","name":"trig change out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":1000,"wires":[]},{"id":"780dc2f6c3e82819","type":"debug","z":"64548f374d3451a8","name":"10 trig out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":480,"wires":[]},{"id":"21a11d4b7581b8a5","type":"api-current-state","z":"64548f374d3451a8","name":"more humid than > oh1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.oh1_humidity\").state)","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":760,"wires":[["521a0959a4d519d2","ea50285bb9541664"],["c3a678c9657cf4bf","d0537bbed8a596d8","c27db0ac340d7d51"]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state"},{"id":"27758d91ac97ea32","type":"change","z":"64548f374d3451a8","name":"shower timer off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":520,"wires":[["f65aebb36961f570"]],"info":"Can use msg: reset = timestamp"},{"id":"aad3abb59638a54d","type":"poll-state","z":"64548f374d3451a8","name":"Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"($entities(\"weather.openweathermap\").state = \"pouring\" or $entities(\"weather.openweathermap\").state = \"rainy\" )","halt_if_type":"jsonata","halt_if_compare":"jsonata","outputs":2,"x":50,"y":1200,"wires":[["553d5bbdf13621bc","b53628a07573a002"],["5eb51dcadf6c8aa1","a6a2ef407883fa29"]]},{"id":"7a543ae3084ee9ae","type":"poll-state","z":"64548f374d3451a8","name":"Thunder & Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"($entities(\"weather.openweathermap\").state = \"lightning-rainy\" or $entities(\"weather.openweathermap\").state = \"lightning\")","halt_if_type":"jsonata","halt_if_compare":"jsonata","outputs":2,"x":80,"y":1420,"wires":[["f3ec09f977908867","750f451d0de95841"],["c45ce3f6380390fb","8db0412d93d61e9a"]]},{"id":"379fe4ce6b72863a","type":"inject","z":"64548f374d3451a8","name":"lightning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lightning","payloadType":"msg","x":80,"y":1480,"wires":[["f3ec09f977908867"]]},{"id":"750f451d0de95841","type":"debug","z":"64548f374d3451a8","name":"t2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1500,"wires":[]},{"id":"8db0412d93d61e9a","type":"debug","z":"64548f374d3451a8","name":"t3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1540,"wires":[]},{"id":"5c9a4658d77f2e60","type":"change","z":"64548f374d3451a8","name":"yes thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["effc304c94d41f9f"]]},{"id":"ef3a3b95d7129116","type":"delay","z":"64548f374d3451a8","name":"delay for every 2 mins","pauseType":"rate","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1420,"y":760,"wires":[["57e53edbdde3be89","e1cc077723d07008","e14a7b0420f5bb51"]]},{"id":"4cd3d3e8cc905e79","type":"change","z":"64548f374d3451a8","name":"true no shower","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":420,"wires":[["068f0f5a5c80c91f","6bf99abbc7b4c560","4605320c70700e1d","57cad016373fd268","85f206f8702a4502"]],"info":"Can use msg: reset = timestamp"},{"id":"ea50285bb9541664","type":"debug","z":"64548f374d3451a8","name":"humid and > oh1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":700,"wires":[]},{"id":"c27db0ac340d7d51","type":"debug","z":"64548f374d3451a8","name":"humid but < oh1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":820,"wires":[]},{"id":"eb3a50fe6b70cb4b","type":"change","z":"64548f374d3451a8","name":"reset flashers off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1060,"wires":[["9bed507d5a9f61f2","d0537bbed8a596d8","4605320c70700e1d"]],"info":"Can use msg: reset = timestamp"},{"id":"3a811de4bd4a6d35","type":"trigger","z":"64548f374d3451a8","name":"timer off after 45 mins","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"45","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1280,"y":680,"wires":[["ef3a3b95d7129116"]]},{"id":"3f4a5e15adb69fe8","type":"change","z":"64548f374d3451a8","name":"turn on timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":620,"wires":[["3a811de4bd4a6d35"]]},{"id":"068f0f5a5c80c91f","type":"api-call-service","z":"64548f374d3451a8","name":"Bulb1BA-off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.br_light"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1850,"y":440,"wires":[["85f206f8702a4502","9d8eeb4b5bb758f9","57cad016373fd268"]]},{"id":"e819bdc20e2095b2","type":"api-call-service","z":"64548f374d3451a8","name":"Bulb1BA-low","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"scene","service":"turn_on","target":{"entityId":["scene.bathroom_low"],"areaId":[],"deviceId":[]},"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":60,"wires":[[]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"8b8023ba6dfcbb65","type":"api-call-service","z":"64548f374d3451a8","name":"Bulb1BA-high","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"scene","service":"turn_on","target":{"entityId":["scene.bathroom_white"],"areaId":[],"deviceId":[]},"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":120,"wires":[[]]},{"id":"85f206f8702a4502","type":"trigger","z":"64548f374d3451a8","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1110,"y":60,"wires":[["57cad016373fd268","e819bdc20e2095b2","2ff2affb9c331878"]]},{"id":"57cad016373fd268","type":"trigger","z":"64548f374d3451a8","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1150,"y":100,"wires":[["85f206f8702a4502","8b8023ba6dfcbb65"]]},{"id":"2ff2affb9c331878","type":"debug","z":"64548f374d3451a8","name":"light trig","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":20,"wires":[]},{"id":"e5b2e45a86d2a256","type":"switch","z":"64548f374d3451a8","name":"Cooler OL","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":600,"wires":[["e98edf832ca91478"],["21a11d4b7581b8a5"]],"info":"if statusCode == 200\nstatusCode"},{"id":"e785600f90e90b59","type":"ping","z":"64548f374d3451a8","protocol":"Automatic","mode":"triggered","name":"Ping cooler","host":"192.168.0.22","timer":"20","inputs":1,"x":340,"y":560,"wires":[["e5b2e45a86d2a256"]],"info":"192.168.0.22"},{"id":"3c8dcc65be90db87","type":"switch","z":"64548f374d3451a8","name":"Cooler OL","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":980,"wires":[["157221f5d1be40c0"],["b4ab3b6a359d022c"]],"info":"if statusCode == 200\nstatusCode"},{"id":"91c4da8e552511e3","type":"ping","z":"64548f374d3451a8","protocol":"Automatic","mode":"triggered","name":"Ping cooler","host":"192.168.0.22","timer":"20","inputs":1,"x":160,"y":940,"wires":[["3c8dcc65be90db87"]],"info":"192.168.0.22"},{"id":"1079136ad2655249","type":"api-current-state","z":"64548f374d3451a8","name":"Its summer hh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":660,"wires":[["e98edf832ca91478"],["21a11d4b7581b8a5"]]},{"id":"035a0a67c8031009","type":"api-current-state","z":"64548f374d3451a8","name":"Its summer lh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":840,"wires":[["157221f5d1be40c0"],["b4ab3b6a359d022c"]]},{"id":"4fcfadba5514583d","type":"api-call-service","z":"64548f374d3451a8","name":"grn LED off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.bath_sense_green"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1830,"y":320,"wires":[["ff4089fe69701bbc"]]},{"id":"14ff4fde897d8c08","type":"api-call-service","z":"64548f374d3451a8","name":"say shower timr on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"script","service":"speak_and_resume","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entities(\"input_text.ttssay\").state","valueType":"jsonata"}],"queue":"none","x":1850,"y":600,"wires":[["d1c5f439870ef8ef"]]},{"id":"f65aebb36961f570","type":"trigger","z":"64548f374d3451a8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1620,"y":560,"wires":[["79c6b6fec65464e4","2589a159c795e5cb","e30a256f2cca83d0"]]},{"id":"d1c5f439870ef8ef","type":"debug","z":"64548f374d3451a8","name":"Sara Speaks","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":660,"wires":[]},{"id":"3ce210a2d1ca3d4d","type":"trigger","z":"64548f374d3451a8","name":"fan timer 10","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1670,"y":820,"wires":[["57e53edbdde3be89","e14a7b0420f5bb51"]]},{"id":"79c6b6fec65464e4","type":"api-call-service","z":"64548f374d3451a8","name":"# of showsers","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"counter","service":"increment","target":{"entityId":["counter.showers_done_today"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":700,"wires":[[]]},{"id":"e1cc077723d07008","type":"debug","z":"64548f374d3451a8","name":"2 min delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":760,"wires":[]},{"id":"898731132eb77be4","type":"api-current-state","z":"64548f374d3451a8","name":"Todays showers ok","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.people_at_home\").state)","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"counter.showers_done_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":340,"wires":[["dcebf568abaa3f37","a0e37ca6bee8c838","f65aebb36961f570","c9294cccf4abfc6e","57cad016373fd268"],["c9294cccf4abfc6e","bc7b025b66fa3d43"]]},{"id":"c9294cccf4abfc6e","type":"debug","z":"64548f374d3451a8","name":"showers ok?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":420,"wires":[]},{"id":"c2656586f0dd6bc3","type":"api-current-state","z":"64548f374d3451a8","name":"R we showering-2","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":400,"wires":[["57cad016373fd268","4605320c70700e1d","a0e37ca6bee8c838"],["4cd3d3e8cc905e79"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)"},{"id":"2589a159c795e5cb","type":"api-call-service","z":"64548f374d3451a8","name":"BulbBR-on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.lr_light2"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":180,"wires":[[]],"info":"Bed room bulb"},{"id":"6bf99abbc7b4c560","type":"debug","z":"64548f374d3451a8","name":"true no shower","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1660,"y":460,"wires":[]},{"id":"29433576f82b3825","type":"api-call-service","z":"64548f374d3451a8","name":"input raining","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"input_text","service":"set_value","target":{"entityId":["input_text.ttssay"],"areaId":[],"deviceId":[]},"data":"{\"value\":\"Hey everyone! It is raining outside! Stay dry. Thank you.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1690,"y":1220,"wires":[["7946bdcf7de6ffa2"]]},{"id":"7946bdcf7de6ffa2","type":"api-call-service","z":"64548f374d3451a8","name":"say text","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"script","service":"speak_and_resume","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"$entities(\"input_text.ttssay\").state","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1880,"y":1220,"wires":[[]]},{"id":"e30a256f2cca83d0","type":"api-call-service","z":"64548f374d3451a8","name":"input shower on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"input_text","service":"set_value","target":{"entityId":["input_text.ttssay"],"areaId":[],"deviceId":[]},"data":"{\"value\":\"2Whoever is in here, the shower timer is now turned on. Enjoy!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":540,"wires":[["14ff4fde897d8c08"]]},{"id":"c3f675fa754a1a84","type":"inject","z":"64548f374d3451a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1450,"y":340,"wires":[["e30a256f2cca83d0"]]},{"id":"da40b2d3dcbce767","type":"delay","z":"64548f374d3451a8","name":"hope lwr humid every 1:17 mins","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"77","rateUnits":"minute","randomFirst":"3","randomLast":"15","randomUnits":"minutes","drop":true,"allowrate":false,"outputs":1,"x":1030,"y":940,"wires":[["fd88b0b52eacc29e","13d0ad50a5189887","3ce210a2d1ca3d4d","e14a7b0420f5bb51"]]},{"id":"fd88b0b52eacc29e","type":"debug","z":"64548f374d3451a8","name":"Hope","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":960,"wires":[]},{"id":"c3a678c9657cf4bf","type":"api-current-state","z":"64548f374d3451a8","name":"more humid than > ih1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.ih1_humidity_2\").state)","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1030,"y":1000,"wires":[["da40b2d3dcbce767"],[]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state"},{"id":"769a27121cf365c2","type":"link out","z":"64548f374d3451a8","name":"Rain red off connect","mode":"link","links":["7c9dc0d905041b8b"],"x":1935,"y":1420,"wires":[]},{"id":"4f146377d3c4ecc2","type":"link out","z":"64548f374d3451a8","name":"Rain red on connect","mode":"link","links":["c098f323daf43036"],"x":1935,"y":1360,"wires":[]},{"id":"d925835bfc2b3ebf","type":"link out","z":"64548f374d3451a8","name":"Humid Blue on connect","mode":"link","links":["6822ebbabb3dae5d"],"x":1935,"y":1040,"wires":[]},{"id":"1fdcf62978d6e70b","type":"link out","z":"64548f374d3451a8","name":"Humid Blue off connect","mode":"link","links":["a6e83cdf9d0be7bc"],"x":1935,"y":1140,"wires":[]},{"id":"307be90c7dc1ebc7","type":"link out","z":"64548f374d3451a8","name":"Getup at night","mode":"link","links":["40ed2856420c303c"],"x":975,"y":20,"wires":[]},{"id":"4f149ccc987714ac","type":"api-current-state","z":"64548f374d3451a8","name":"fan should be on","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bath_fan_switch_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":660,"wires":[[],[]]},{"id":"d0537bbed8a596d8","type":"trigger","z":"64548f374d3451a8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1060,"y":1120,"wires":[["1dff4a02fdae8911"]]},{"id":"1dff4a02fdae8911","type":"function","z":"64548f374d3451a8","name":"make pulse slow","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"slow\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1160,"wires":[["52d8fdf16703e77c","424434880dbbce86"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"slow\"\n    }\n};\nreturn msg;"},{"id":"5711ef31aed289d5","type":"debug","z":"64548f374d3451a8","name":"light data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1100,"wires":[]},{"id":"effc304c94d41f9f","type":"function","z":"64548f374d3451a8","name":"make pulse fast","func":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1340,"wires":[["c5ef6aa7b4c594b1"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"acea8ba1affc52e7","type":"function","z":"64548f374d3451a8","name":"make pulse fast","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1080,"wires":[["52d8fdf16703e77c"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"4605320c70700e1d","type":"trigger","z":"64548f374d3451a8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1360,"y":1040,"wires":[["acea8ba1affc52e7"]]},{"id":"424434880dbbce86","type":"debug","z":"64548f374d3451a8","name":"light data 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1850,"y":1180,"wires":[]},{"id":"dfe3269227a37288","type":"inject","z":"64548f374d3451a8","name":"Blue off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":510,"y":540,"wires":[["9bed507d5a9f61f2"]]},{"id":"ff4089fe69701bbc","type":"link out","z":"64548f374d3451a8","name":"Motion off","mode":"link","links":["b2644189723488de"],"x":1935,"y":320,"wires":[]},{"id":"766383d28c7f9403","type":"debug","z":"64548f374d3451a8","name":"LED on?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":1300,"wires":[]},{"id":"6e64043738e1af60","type":"trigger-state","z":"64548f374d3451a8","name":"Motion Override on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_motion_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"input_boolean.bath_overide","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":false,"x":90,"y":300,"wires":[["557fd15917357ce6"],[]]},{"id":"0891cd4020db8bd5","type":"api-render-template","z":"64548f374d3451a8","name":"Check sleeping sws","server":"498d175b.c26978","version":0,"template":"{{ states.input_boolean.house_sleep_mode.state == 'on' or states.binary_sensor.house_sleep_time.state == 'on' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":290,"y":100,"wires":[["ab9f696258c31c33"]]},{"id":"ab9f696258c31c33","type":"switch","z":"64548f374d3451a8","name":"to be or not to be","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":40,"wires":[["85f206f8702a4502","307be90c7dc1ebc7"],["57cad016373fd268"]]},{"id":"9ee5a17ca43f812f","type":"api-current-state","z":"64548f374d3451a8","name":"Sleeping no","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1200,"wires":[["29433576f82b3825"],[]]},{"id":"0fb18b7a1fd79307","type":"api-current-state","z":"64548f374d3451a8","name":"make sure light sw on","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bath_light_switch_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":580,"wires":[[],["7fa0ae4fb3ca4bce"]]},{"id":"7fa0ae4fb3ca4bce","type":"api-call-service","z":"64548f374d3451a8","name":"turn sw on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"switch","service":"turn_on","target":{"entityId":["switch.bath_light_switch_2"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":520,"wires":[["f98ca01c6385a541"]]},{"id":"f98ca01c6385a541","type":"debug","z":"64548f374d3451a8","name":"sw on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":130,"y":460,"wires":[]},{"id":"c5f6c30f71d5364b","type":"trigger-state","z":"64548f374d3451a8","name":"man fan on2","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_fan_10","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1590,"y":620,"wires":[["3ce210a2d1ca3d4d","13d0ad50a5189887","f4cec4f224103880"],["f4cec4f224103880"]]},{"id":"f4cec4f224103880","type":"debug","z":"64548f374d3451a8","name":"fan on2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":700,"wires":[]},{"id":"02b1d04b592d7f3f","type":"comment","z":"64548f374d3451a8","name":"update","info":"Bath_PIR64\nthis last one we added back lines to reset flashers and triggers for fan off\nadded true to fan timer 10 and\nadded \"turn on timer\" to cool fan off\nBath_PIR66\nAdded reset lines from \"true no shower\" to Dim and bright toggles, because with high humidity bulb would not come on after turning it off\nBath_PIR67\nWorking on input light timer, changed to 2.5 mins- done","x":70,"y":20,"wires":[]},{"id":"cbec6f55fc34e479","type":"comment","z":"64548f374d3451a8","name":"current timers in use","info":"2.5 min = normal\n10 min = showers\nwith version 67 now with outside slider","x":950,"y":320,"wires":[]},{"id":"2227c673d25305f3","type":"change","z":"64548f374d3451a8","name":"turn on timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":760,"wires":[["3ce210a2d1ca3d4d"]]},{"id":"c5ef6aa7b4c594b1","type":"delay","z":"64548f374d3451a8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1320,"wires":[["5c72b85bd136ae45"]]},{"id":"09b5aa2043a20b0e","type":"delay","z":"64548f374d3451a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1380,"wires":[["91db6982ea01a79c"]]},{"id":"bccaa9d48a6c5211","type":"link in","z":"64548f374d3451a8","name":"","links":[],"x":735,"y":220,"wires":[[]]},{"id":"f9651473f502ffa1","type":"trigger","z":"64548f374d3451a8","name":"","op1":"","op2":"true","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":true,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1095,"y":420,"wires":[["c2656586f0dd6bc3","b15ee9488b75f0a3"]],"l":false},{"id":"bc7b025b66fa3d43","type":"api-current-state","z":"64548f374d3451a8","name":"BA time slider","server":"9405c3fe.d0a6c","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bath_light_timer","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"inputState","override_payload":"msg","entity_location":"","override_data":"none","x":960,"y":380,"wires":[["9d5a9846ebbc491e"]]},{"id":"9d5a9846ebbc491e","type":"change","z":"64548f374d3451a8","name":"input delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"msg.payload*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["f9651473f502ffa1","e22248bef83ffb24"]]},{"id":"e22248bef83ffb24","type":"debug","z":"64548f374d3451a8","name":"timer output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"b15ee9488b75f0a3","type":"debug","z":"64548f374d3451a8","name":"trig time out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":360,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"9405c3fe.d0a6c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]