Bath_PIR77.json
[{"id":"87b5c0a94f0780d8","type":"tab","label":"Bath auto1","disabled":false,"info":""},{"id":"29dd55b056995d95","type":"trigger","z":"87b5c0a94f0780d8","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"12","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1010,"y":460,"wires":[["8c5b357bb1d23ac3","26506582dcf60d97","769f22c9e3cabdd9"]],"info":"Shower minutes"},{"id":"e687ef6fd65452da","type":"switch","z":"87b5c0a94f0780d8","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":345,"y":280,"wires":[["afc82210d69fb55e","eb9aeaa69b756220"],["87b092e96142dd71"]]},{"id":"1294f88a16a9a00d","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Humid high Blue LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_blue"],"data":"{\"brightness_pct\":\"55\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1830,"y":1360,"wires":[["f77f1eee4c1c9ef9","acfea454574c9c8a"]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"55\"}"},{"id":"a714afe7c53a777e","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Humid Blue off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_blue"],"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":1460,"wires":[["a4e150550c1624f6"]]},{"id":"3b4b897f4d84014d","type":"api-call-service","z":"87b5c0a94f0780d8","name":"bath fan on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bath_fan_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":1120,"wires":[["1d983b7559f228b2"]]},{"id":"5a1719de97488988","type":"api-call-service","z":"87b5c0a94f0780d8","name":"bath fan off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bath_fan_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":1220,"wires":[["32543167651096b9","3745f818a81f9206"]]},{"id":"afc82210d69fb55e","type":"api-call-service","z":"87b5c0a94f0780d8","name":"grn LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_green"],"data":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":580,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}"},{"id":"57c4cfe555a57b5b","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Red LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_red"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1875,"y":1740,"wires":[["c9935abd7ab48e23"]]},{"id":"86c0fe2c6906ac74","type":"server-state-changed","z":"87b5c0a94f0780d8","name":"bh","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bath_sense_humidity_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities(\"input_number.bath_humid_set\").state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":65,"y":780,"wires":[["80bf7e9aa6bb38d1","850a85ea3ea6c997","a6a2f453d895f3f9"],["d5baccb1645cc5a3","6c47e01f01b3f356","3ccef5ee6a64b30d"]]},{"id":"91363c20ddb68785","type":"api-current-state","z":"87b5c0a94f0780d8","name":"cooler off","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":440,"y":920,"wires":[["2a66bdcb287a91bc","11b872e657ce3cab","2179ddfb623d176d"],["bcec680bfac925a2","a96ecc3231c6d39e"]]},{"id":"1d983b7559f228b2","type":"debug","z":"87b5c0a94f0780d8","name":"fan on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":1180,"wires":[]},{"id":"32543167651096b9","type":"debug","z":"87b5c0a94f0780d8","name":"fan off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":1280,"wires":[]},{"id":"88100d42a19efb14","type":"debug","z":"87b5c0a94f0780d8","name":"15 triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":700,"wires":[]},{"id":"07bcb755eb8933c3","type":"inject","z":"87b5c0a94f0780d8","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":525,"y":460,"wires":[["29dd55b056995d95","a96ecc3231c6d39e","80bf7e9aa6bb38d1","d5baccb1645cc5a3","c5e838d145e0124d","ea34bfd9bbc310ec","8cff0a68a10ff74d","3745f818a81f9206","11b872e657ce3cab","caeee55b41b54234","d22334c18e8b2159","22e26ecc729cb23b","a873a1c5b0310cab","00bd4c23bae4dbd6","74319e030f2e238f","181955bc489b41df"]]},{"id":"c45178a7bd3d1dac","type":"inject","z":"87b5c0a94f0780d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":105,"y":360,"wires":[["e687ef6fd65452da"]]},{"id":"a229e8db8cff164a","type":"inject","z":"87b5c0a94f0780d8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":105,"y":400,"wires":[["e687ef6fd65452da"]]},{"id":"a96ecc3231c6d39e","type":"trigger","z":"87b5c0a94f0780d8","name":"cool fan on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":640,"wires":[["11b872e657ce3cab","3b4b897f4d84014d","0d7deb2115b81e86"]]},{"id":"11b872e657ce3cab","type":"trigger","z":"87b5c0a94f0780d8","name":"cool fan off","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":720,"wires":[["a96ecc3231c6d39e","7d40528baed2898f"]]},{"id":"12da3b05cdc4421a","type":"trigger","z":"87b5c0a94f0780d8","name":"rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":1180,"wires":[["815033fc438510bf","8153ef0c301b737f","0b8eab0ae09b39aa"]]},{"id":"815033fc438510bf","type":"trigger","z":"87b5c0a94f0780d8","name":"no rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1220,"wires":[["12da3b05cdc4421a","a257d1dccf66b841","b7fe253c394aa2bb"]]},{"id":"80bf7e9aa6bb38d1","type":"trigger","z":"87b5c0a94f0780d8","name":"humid over threshold","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":995,"y":800,"wires":[["d5baccb1645cc5a3","1294f88a16a9a00d"]]},{"id":"d5baccb1645cc5a3","type":"trigger","z":"87b5c0a94f0780d8","name":"humid under","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1005,"y":860,"wires":[["80bf7e9aa6bb38d1","2179ddfb623d176d","a714afe7c53a777e"]]},{"id":"043d427ed9e5d2eb","type":"api-current-state","z":"87b5c0a94f0780d8","name":"cooler on","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":335,"y":660,"wires":[["234ceff7fc2e1c4c","a96ecc3231c6d39e"],["561ad50c2e8d53a4","f4fde79564c2d4e7"]],"info":"unavailable\nswitch.fan_power\nswitch.bath_fan_switch_2"},{"id":"1a79de25b8e3915e","type":"change","z":"87b5c0a94f0780d8","name":"reset toggles off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1575,"y":940,"wires":[["d1c2a32dc79bb9a0","80bf7e9aa6bb38d1","d5baccb1645cc5a3","a96ecc3231c6d39e","caeee55b41b54234","d22334c18e8b2159","a714afe7c53a777e","3745f818a81f9206"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"2849bf3e8294bcef","type":"inject","z":"87b5c0a94f0780d8","name":"false-reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"str","x":515,"y":500,"wires":[["1a79de25b8e3915e"]]},{"id":"eb9aeaa69b756220","type":"api-current-state","z":"87b5c0a94f0780d8","name":"R we showering-1","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":305,"y":160,"wires":[["e2b466cdce59c43b","469d94744321f5e0","d22334c18e8b2159"],["50c1eb721c870737","097a5ddff9c34629","26506582dcf60d97"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n"},{"id":"e2b466cdce59c43b","type":"debug","z":"87b5c0a94f0780d8","name":"hH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"50c1eb721c870737","type":"debug","z":"87b5c0a94f0780d8","name":"hL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":160,"wires":[]},{"id":"850a85ea3ea6c997","type":"debug","z":"87b5c0a94f0780d8","name":"humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":90,"y":720,"wires":[]},{"id":"6c47e01f01b3f356","type":"debug","z":"87b5c0a94f0780d8","name":"not humid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":95,"y":860,"wires":[]},{"id":"a257d1dccf66b841","type":"change","z":"87b5c0a94f0780d8","name":"thunder over","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["b7fe253c394aa2bb"]]},{"id":"25e9b34a969a7510","type":"trigger","z":"87b5c0a94f0780d8","name":"thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":1400,"wires":[["5e28e6e12a781fa8","3a49f17bcb2f21ff","8aa0d6a9d9886daf"]]},{"id":"5e28e6e12a781fa8","type":"trigger","z":"87b5c0a94f0780d8","name":"no thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":1440,"wires":[["25e9b34a969a7510","a257d1dccf66b841","4aa1e695e71b1627"]]},{"id":"0b99ec804411d08f","type":"debug","z":"87b5c0a94f0780d8","name":"rain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1140,"wires":[]},{"id":"4aa1e695e71b1627","type":"debug","z":"87b5c0a94f0780d8","name":"no thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1480,"wires":[]},{"id":"3a49f17bcb2f21ff","type":"debug","z":"87b5c0a94f0780d8","name":"thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1400,"wires":[]},{"id":"1cbaae4d09778f5a","type":"debug","z":"87b5c0a94f0780d8","name":"no rain","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1260,"wires":[]},{"id":"10b64e53f2484512","type":"inject","z":"87b5c0a94f0780d8","name":"reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":70,"y":1360,"wires":[["12da3b05cdc4421a","815033fc438510bf","25e9b34a969a7510","5e28e6e12a781fa8"]]},{"id":"919e12b099e4b211","type":"inject","z":"87b5c0a94f0780d8","name":"rain","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1120,"wires":[["12da3b05cdc4421a"]]},{"id":"ebdbc26bee655b4e","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Red LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_red"],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1875,"y":1680,"wires":[["c09e05c225904964","d730311365478d18"]]},{"id":"928e47d62790f51b","type":"inject","z":"87b5c0a94f0780d8","name":"no rain","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1320,"wires":[["815033fc438510bf"]]},{"id":"dbc5c8400126ce6e","type":"debug","z":"87b5c0a94f0780d8","name":"light is off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1920,"y":820,"wires":[]},{"id":"2a66bdcb287a91bc","type":"debug","z":"87b5c0a94f0780d8","name":"co true 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":860,"wires":[]},{"id":"234ceff7fc2e1c4c","type":"debug","z":"87b5c0a94f0780d8","name":"co true 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":600,"wires":[]},{"id":"561ad50c2e8d53a4","type":"debug","z":"87b5c0a94f0780d8","name":"CO false 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":700,"wires":[]},{"id":"bcec680bfac925a2","type":"debug","z":"87b5c0a94f0780d8","name":"CO false 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"724694160664230b","type":"inject","z":"87b5c0a94f0780d8","name":"start blue blinking","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":635,"y":1140,"wires":[["925f5b4a188f59bc"]]},{"id":"d1c2a32dc79bb9a0","type":"debug","z":"87b5c0a94f0780d8","name":"trig change out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1880,"y":1320,"wires":[]},{"id":"8c5b357bb1d23ac3","type":"debug","z":"87b5c0a94f0780d8","name":"12 trig out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1195,"y":560,"wires":[]},{"id":"f4fde79564c2d4e7","type":"api-current-state","z":"87b5c0a94f0780d8","name":"more humid than > oh1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.oh1_humidity\").state)","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":525,"y":760,"wires":[["a96ecc3231c6d39e","d3f8145c741c0c96"],["c0e2907ba3cf8f32","caeee55b41b54234","1f623693c97d4820"]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state"},{"id":"6052d722ec5bef17","type":"poll-state","z":"87b5c0a94f0780d8","name":"Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"($entities(\"weather.openweathermap\").state = \"pouring\" or $entities(\"weather.openweathermap\").state = \"rainy\" )","halt_if_type":"jsonata","halt_if_compare":"jsonata","outputs":2,"x":50,"y":1200,"wires":[["12da3b05cdc4421a","0b99ec804411d08f"],["815033fc438510bf","1cbaae4d09778f5a"]]},{"id":"2fa4ff5e8e77ab9d","type":"poll-state","z":"87b5c0a94f0780d8","name":"Thunder & Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"($entities(\"weather.openweathermap\").state = \"lightning-rainy\" or $entities(\"weather.openweathermap\").state = \"lightning\")","halt_if_type":"jsonata","halt_if_compare":"jsonata","outputs":2,"x":80,"y":1420,"wires":[["25e9b34a969a7510","aeb0ce27583b5329"],["5e28e6e12a781fa8","4dfac627cd5b5e2f"]]},{"id":"2eb767db8893e641","type":"inject","z":"87b5c0a94f0780d8","name":"lightning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lightning","payloadType":"msg","x":80,"y":1480,"wires":[["25e9b34a969a7510"]]},{"id":"aeb0ce27583b5329","type":"debug","z":"87b5c0a94f0780d8","name":"t2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1500,"wires":[]},{"id":"4dfac627cd5b5e2f","type":"debug","z":"87b5c0a94f0780d8","name":"t3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1540,"wires":[]},{"id":"8aa0d6a9d9886daf","type":"change","z":"87b5c0a94f0780d8","name":"yes thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["3089860491d0cd3b","9ed7ea13306d9e0f"]]},{"id":"b3f3ff9ff9535f6d","type":"change","z":"87b5c0a94f0780d8","name":"true no shower","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":420,"wires":[["1078821aec3c57d2","88daa1edb57cdbfd","d22334c18e8b2159","c5e838d145e0124d"]],"info":"Can use msg: reset = timestamp"},{"id":"d3f8145c741c0c96","type":"debug","z":"87b5c0a94f0780d8","name":"humid and > oh1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":725,"y":700,"wires":[]},{"id":"1f623693c97d4820","type":"debug","z":"87b5c0a94f0780d8","name":"humid but < oh1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":715,"y":820,"wires":[]},{"id":"2179ddfb623d176d","type":"change","z":"87b5c0a94f0780d8","name":"reset flashers off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":1060,"wires":[["a714afe7c53a777e","caeee55b41b54234","d22334c18e8b2159"]],"info":"Can use msg: reset = timestamp"},{"id":"3745f818a81f9206","type":"trigger","z":"87b5c0a94f0780d8","name":"failsafe off after 45 mins","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"45","extend":false,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1305,"y":680,"wires":[["00bd4c23bae4dbd6"]]},{"id":"0d7deb2115b81e86","type":"change","z":"87b5c0a94f0780d8","name":"turn on 45 timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1155,"y":620,"wires":[["3745f818a81f9206"]]},{"id":"1078821aec3c57d2","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Bulb1BA-off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.br_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1935,"y":760,"wires":[["c5e838d145e0124d","dbc5c8400126ce6e","ea34bfd9bbc310ec","a873a1c5b0310cab","5b7715318511bfda","8cff0a68a10ff74d"]]},{"id":"58b5df0efd837bcd","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Bulb1BA-low","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bathroom_low"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":60,"wires":[[]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"ca3c5ecfc0f46904","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Bulb1BA-high","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bathroom_white"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1920,"y":120,"wires":[[]]},{"id":"c5e838d145e0124d","type":"trigger","z":"87b5c0a94f0780d8","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":60,"wires":[["ea34bfd9bbc310ec","58b5df0efd837bcd","b7fba5af7b1027d9"]]},{"id":"ea34bfd9bbc310ec","type":"trigger","z":"87b5c0a94f0780d8","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1150,"y":100,"wires":[["c5e838d145e0124d","ca3c5ecfc0f46904","b7fba5af7b1027d9","39672a12a9eddaf0","181955bc489b41df"]]},{"id":"85f7f1fb201f7c87","type":"switch","z":"87b5c0a94f0780d8","name":"Cooler OL","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":365,"y":600,"wires":[["043d427ed9e5d2eb"],["f4fde79564c2d4e7"]],"info":"if statusCode == 200\nstatusCode"},{"id":"be47a37e862cff7c","type":"ping","z":"87b5c0a94f0780d8","protocol":"Automatic","mode":"triggered","name":"Ping cooler","host":"192.168.0.22","timer":"20","inputs":1,"x":355,"y":560,"wires":[["85f7f1fb201f7c87"]],"info":"192.168.0.22"},{"id":"46ae5721ab48e35d","type":"switch","z":"87b5c0a94f0780d8","name":"Cooler OL","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":225,"y":980,"wires":[["91363c20ddb68785"],["11b872e657ce3cab"]],"info":"if statusCode == 200\nstatusCode"},{"id":"aa02e3374424cfd4","type":"ping","z":"87b5c0a94f0780d8","protocol":"Automatic","mode":"triggered","name":"Ping cooler","host":"192.168.0.22","timer":"20","inputs":1,"x":175,"y":940,"wires":[["46ae5721ab48e35d"]],"info":"192.168.0.22"},{"id":"87b092e96142dd71","type":"api-call-service","z":"87b5c0a94f0780d8","name":"grn LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_green"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1890,"y":640,"wires":[["79d0a815fcc6ca20"]]},{"id":"8cff0a68a10ff74d","type":"trigger","z":"87b5c0a94f0780d8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1600,"y":560,"wires":[["1205e1aefa6aeab6","f7668a3bcae105c7","a705c41750f24312"]]},{"id":"1205e1aefa6aeab6","type":"api-call-service","z":"87b5c0a94f0780d8","name":"# of showsers","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.showers_done_today"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1920,"y":1020,"wires":[[]]},{"id":"d89177f2e741de83","type":"debug","z":"87b5c0a94f0780d8","name":"fan off delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":1080,"wires":[]},{"id":"469d94744321f5e0","type":"api-current-state","z":"87b5c0a94f0780d8","name":"Todays showers ok","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.people_at_home\").state)","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"counter.showers_done_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":525,"y":340,"wires":[["88100d42a19efb14","29dd55b056995d95","8cff0a68a10ff74d","945efc5e1ca000b7","18f70867b0a6840a","9f532021b469eca7"],["945efc5e1ca000b7","26506582dcf60d97"]]},{"id":"945efc5e1ca000b7","type":"debug","z":"87b5c0a94f0780d8","name":"showers ok?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":525,"y":420,"wires":[]},{"id":"3662e5a6dbe91eae","type":"api-current-state","z":"87b5c0a94f0780d8","name":"R we showering-2","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1230,"y":400,"wires":[["d22334c18e8b2159","29dd55b056995d95","18f70867b0a6840a","1cbfd018512a093e","8cff0a68a10ff74d"],["b3f3ff9ff9535f6d"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)"},{"id":"88daa1edb57cdbfd","type":"debug","z":"87b5c0a94f0780d8","name":"true no shower","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":460,"wires":[]},{"id":"01a98ac5c0619020","type":"api-call-service","z":"87b5c0a94f0780d8","name":"input raining","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"Hey everyone! It is raining outside! Stay dry. Thank you.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":1240,"wires":[["1346ccbe6b60439c"]]},{"id":"1346ccbe6b60439c","type":"api-call-service","z":"87b5c0a94f0780d8","name":"say text","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"speak_and_resume","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1920,"y":940,"wires":[[]],"info":"$entities(\"input_text.ttssay\").state"},{"id":"f7668a3bcae105c7","type":"api-call-service","z":"87b5c0a94f0780d8","name":"input shower on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"2Hey! Whoever is in here, the shower timer is now turned on. Enjoy!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1925,"y":860,"wires":[["1346ccbe6b60439c"]]},{"id":"541192cc485143b5","type":"inject","z":"87b5c0a94f0780d8","name":"test shower speak","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1690,"y":380,"wires":[["f7668a3bcae105c7"]]},{"id":"aff9bb04cac58fc6","type":"delay","z":"87b5c0a94f0780d8","name":"hope lwr humid every 77 mins","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"77","rateUnits":"minute","randomFirst":"3","randomLast":"15","randomUnits":"minutes","drop":true,"allowrate":false,"outputs":1,"x":1045,"y":940,"wires":[["a8db1d1e8982f955","3b4b897f4d84014d","1a79de25b8e3915e"]]},{"id":"a8db1d1e8982f955","type":"debug","z":"87b5c0a94f0780d8","name":"Hope","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":960,"wires":[]},{"id":"c0e2907ba3cf8f32","type":"api-current-state","z":"87b5c0a94f0780d8","name":"more humid than > ih1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.ih1_humidity_2\").state)","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1045,"y":1000,"wires":[["aff9bb04cac58fc6"],[]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state"},{"id":"c9935abd7ab48e23","type":"link out","z":"87b5c0a94f0780d8","name":"Rain red off connect","mode":"link","links":["7c9dc0d905041b8b"],"x":1980,"y":1740,"wires":[]},{"id":"c09e05c225904964","type":"link out","z":"87b5c0a94f0780d8","name":"Rain red on connect","mode":"link","links":["c098f323daf43036"],"x":1980,"y":1680,"wires":[]},{"id":"f77f1eee4c1c9ef9","type":"link out","z":"87b5c0a94f0780d8","name":"Humid Blue on connect","mode":"link","links":["6822ebbabb3dae5d"],"x":1985,"y":1360,"wires":[]},{"id":"a4e150550c1624f6","type":"link out","z":"87b5c0a94f0780d8","name":"Humid Blue off connect","mode":"link","links":["a6e83cdf9d0be7bc"],"x":1985,"y":1460,"wires":[]},{"id":"f875ad6880fed2da","type":"link out","z":"87b5c0a94f0780d8","name":"Getup at night","mode":"link","links":["40ed2856420c303c"],"x":945,"y":40,"wires":[]},{"id":"caeee55b41b54234","type":"trigger","z":"87b5c0a94f0780d8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1075,"y":1120,"wires":[["925f5b4a188f59bc"]]},{"id":"925f5b4a188f59bc","type":"function","z":"87b5c0a94f0780d8","name":"make pulse slow-too humid","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"slow\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1160,"wires":[["1294f88a16a9a00d","3dfb10c41555752e"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"slow\"\n    }\n};\nreturn msg;"},{"id":"acfea454574c9c8a","type":"debug","z":"87b5c0a94f0780d8","name":"light data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1420,"wires":[]},{"id":"9ed7ea13306d9e0f","type":"function","z":"87b5c0a94f0780d8","name":"make pulse fast","func":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1280,"wires":[["0b8eab0ae09b39aa"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"f410ec53afe004b4","type":"function","z":"87b5c0a94f0780d8","name":"make pulse fast-shower","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1405,"y":1080,"wires":[["1294f88a16a9a00d"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"d22334c18e8b2159","type":"trigger","z":"87b5c0a94f0780d8","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1375,"y":1040,"wires":[["f410ec53afe004b4"]]},{"id":"3dfb10c41555752e","type":"debug","z":"87b5c0a94f0780d8","name":"light data 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":1520,"wires":[]},{"id":"f6a402f8b609d3e8","type":"inject","z":"87b5c0a94f0780d8","name":"Blue off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":525,"y":540,"wires":[["a714afe7c53a777e"]]},{"id":"79d0a815fcc6ca20","type":"link out","z":"87b5c0a94f0780d8","name":"Motion off","mode":"link","links":["b2644189723488de"],"x":1995,"y":640,"wires":[]},{"id":"d730311365478d18","type":"debug","z":"87b5c0a94f0780d8","name":"LED on?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1905,"y":1620,"wires":[]},{"id":"7dff18e90292d5ef","type":"trigger-state","z":"87b5c0a94f0780d8","name":"Motion Override on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_motion_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"input_boolean.bath_overide","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":false,"x":105,"y":300,"wires":[["e687ef6fd65452da"],[]]},{"id":"097a5ddff9c34629","type":"api-render-template","z":"87b5c0a94f0780d8","name":"Check sleeping sws","server":"498d175b.c26978","version":0,"template":"{{ states.input_boolean.house_sleep_mode.state == 'on' or states.binary_sensor.house_sleep_time.state == 'on' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":305,"y":100,"wires":[["03eab3af71c1f15e"]]},{"id":"03eab3af71c1f15e","type":"switch","z":"87b5c0a94f0780d8","name":"to be or not to be","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":305,"y":40,"wires":[["c5e838d145e0124d","f875ad6880fed2da"],["9f532021b469eca7"]]},{"id":"8153ef0c301b737f","type":"api-current-state","z":"87b5c0a94f0780d8","name":"Sleeping no","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1200,"wires":[["01a98ac5c0619020"],[]]},{"id":"604e7d72cbdcddf5","type":"api-call-service","z":"87b5c0a94f0780d8","name":"turn sw on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bath_light_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":520,"wires":[[]]},{"id":"fe664c9d37a3534b","type":"debug","z":"87b5c0a94f0780d8","name":"light sw on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":560,"wires":[]},{"id":"d223622a371a4fa8","type":"trigger-state","z":"87b5c0a94f0780d8","name":"man fan on2","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_fan_10","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":1650,"y":720,"wires":[["3b4b897f4d84014d","9ab80d5f1189af86","fa533e19c081abb7","00c00b513e168ad0","c5bc532ed8437f2d"],["9ab80d5f1189af86"]]},{"id":"9ab80d5f1189af86","type":"debug","z":"87b5c0a94f0780d8","name":"fan on2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":660,"wires":[]},{"id":"559b0c5c7a3d0636","type":"comment","z":"87b5c0a94f0780d8","name":"update","info":"Bath_PIR64- this last one we added back lines to reset flashers and triggers for fan off\nadded true to fan timer 10 and\nadded \"turn on timer\" to cool fan off\nBath_PIR66- Added reset lines from \"true no shower\" to Dim and bright toggles, because with high humidity bulb would not come on after turning it off\nBath_PIR67- Working on input light timer, changed to 2.5 mins- done\nBath_PIR68- Added link from taking shower to bedroom bright light for 10 min, increased shower timer from 10 to 12 mins\nBath_PIR69- added thunderstorm warning to Audiocast\n---removed link temp untill bathroom sound is in place\nBath_PIR70 - added radio start on bright and stop with light off\nBath_PIR71 - added distribution nodes and more logic to play radio during shower(increase vol), fixed new boolen Its summer node\nBath_PIR72 - adj shower speaker volume down, removed true link from R we showering-1 to shower dist\nBath_PIR73 - added 60 sec. delay to radio off, changed volume up to directly media player\nBath_PIR74 - change feed back of shower timer done to main light on timer. Corrected set volume down. Added sound for fan on 10 mins\nBath_PIR75 - change shower on logic\nBath_PIR76 - corrected shower dist object and turn up and turn down volume \n- added sig cntrl play\nBath_PIR77 -  Shower say did not reset, made connection from bulb off to \"trigger&block\" reset\n","x":70,"y":20,"wires":[]},{"id":"de084ef0d2576189","type":"comment","z":"87b5c0a94f0780d8","name":"current timers in use","info":"2.5 min = normal\n12 min = showers\nwith version 67 now with outside slider","x":950,"y":400,"wires":[]},{"id":"7d40528baed2898f","type":"change","z":"87b5c0a94f0780d8","name":"turn on timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1125,"y":760,"wires":[["00bd4c23bae4dbd6"]]},{"id":"0b8eab0ae09b39aa","type":"delay","z":"87b5c0a94f0780d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1320,"wires":[["ebdbc26bee655b4e"]]},{"id":"b7fe253c394aa2bb","type":"delay","z":"87b5c0a94f0780d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1380,"wires":[["57c4cfe555a57b5b"]]},{"id":"22e26ecc729cb23b","type":"trigger","z":"87b5c0a94f0780d8","name":"","op1":"","op2":"true","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":true,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1095,"y":400,"wires":[["3662e5a6dbe91eae","d702298deab0e478"]],"l":false},{"id":"26506582dcf60d97","type":"api-current-state","z":"87b5c0a94f0780d8","name":"BA time slider","server":"498d175b.c26978","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bath_light_timer","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"inputState","override_payload":"msg","entity_location":"","override_data":"none","x":940,"y":280,"wires":[["5fe6d6c7f0766337"]]},{"id":"5fe6d6c7f0766337","type":"change","z":"87b5c0a94f0780d8","name":"input delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"msg.payload*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":340,"wires":[["22e26ecc729cb23b","7a47cdd0537ee52f"]]},{"id":"7a47cdd0537ee52f","type":"debug","z":"87b5c0a94f0780d8","name":"timer output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1165,"y":320,"wires":[]},{"id":"d702298deab0e478","type":"debug","z":"87b5c0a94f0780d8","name":"trig time out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1225,"y":360,"wires":[]},{"id":"18f70867b0a6840a","type":"link out","z":"87b5c0a94f0780d8","name":"taking shower","mode":"link","links":["5d7b659b06af9f08"],"x":970,"y":560,"wires":[]},{"id":"a8f5a01b24823ce3","type":"api-call-service","z":"87b5c0a94f0780d8","name":"input lightning","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"Hey everyone! Thunderstorms are coming. Dodge the lightning. Take care.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":1360,"wires":[["1346ccbe6b60439c"]]},{"id":"3089860491d0cd3b","type":"api-current-state","z":"87b5c0a94f0780d8","name":"Sleeping no","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":1360,"wires":[["a8f5a01b24823ce3"],[]]},{"id":"277667f5a2593525","type":"api-call-service","z":"87b5c0a94f0780d8","name":"play radio","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"play_radio_ba","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1940,"y":200,"wires":[[]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n\n\n"},{"id":"c5bc532ed8437f2d","type":"api-call-service","z":"87b5c0a94f0780d8","name":"Stop radio","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":["bathroom"],"deviceId":["2344aa12c67f5d42b8db13c1b8f5b48e"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1950,"y":260,"wires":[[]]},{"id":"769f22c9e3cabdd9","type":"change","z":"87b5c0a94f0780d8","name":"no true","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":460,"wires":[["b36129c2930a3f52"]]},{"id":"c2b6b98652eb5c74","type":"api-render-template","z":"87b5c0a94f0780d8","name":"add radio volume","server":"498d175b.c26978","version":0,"template":"{% set test = ((states(\"input_number.radio_volume_ba\") | float + 0.15) * 1000 )| round(0) | int / 1000 %}\n {% if test > 1 %}\n{% set test = 1 %}\n{{ test }}\n {%- else -%}\n{{ test }}\n{%- endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1410,"y":200,"wires":[["7c9952cbf672efac","9dae84a05018641c"]],"info":"input_number.radio_volume_ba\n\n$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)"},{"id":"4a0fdfd0eb53185b","type":"debug","z":"87b5c0a94f0780d8","name":"Sh dist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"1cbfd018512a093e","type":"change","z":"87b5c0a94f0780d8","name":"shower dist","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[["ea34bfd9bbc310ec","4a0fdfd0eb53185b","a873a1c5b0310cab"]],"info":"J:\n$sum(payload+20)"},{"id":"9f532021b469eca7","type":"change","z":"87b5c0a94f0780d8","name":"dist","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":80,"wires":[["ea34bfd9bbc310ec"]]},{"id":"a873a1c5b0310cab","type":"trigger","z":"87b5c0a94f0780d8","name":"sig cntrl vol","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":200,"wires":[["e779da8b90c11972","ba16643f933c5519"]]},{"id":"e779da8b90c11972","type":"debug","z":"87b5c0a94f0780d8","name":"sig cntrl vol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":240,"wires":[]},{"id":"a705c41750f24312","type":"api-call-service","z":"87b5c0a94f0780d8","name":"BulbBedRoom-on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1915,"y":520,"wires":[[]],"info":"Bed room bulb"},{"id":"1cb66511a6af315b","type":"inject","z":"87b5c0a94f0780d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":200,"wires":[["1cbfd018512a093e"]]},{"id":"7c9952cbf672efac","type":"api-call-service","z":"87b5c0a94f0780d8","name":"turn up the vol","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.audiocast_2"],"data":"{  \"volume_level\":\"{{payload}}\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1920,"y":320,"wires":[[]],"info":"{  $number(\"volume_level\": \"{{payload}}\") }\n\nworks\n{  \"volume_level\":\"{{payload}}\" }"},{"id":"b36129c2930a3f52","type":"api-call-service","z":"87b5c0a94f0780d8","name":"turn down the vol","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.audiocast_2"],"data":"{ \"volume_level\":$number($entities(\"input_number.radio_vol_ba_save\").state) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1930,"y":380,"wires":[[]],"info":"works\n{ \"volume_level\":$number($entities(\"input_number.radio_vol_ba_save\").state) }"},{"id":"dd99ff029cea35dd","type":"inject","z":"87b5c0a94f0780d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1720,"y":340,"wires":[["769f22c9e3cabdd9"]]},{"id":"ba16643f933c5519","type":"api-call-service","z":"87b5c0a94f0780d8","name":"save vol","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.radio_vol_ba_save"],"data":"{\"value\":$number($entities(\"input_number.radio_volume_ba\").state) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":140,"wires":[["c2b6b98652eb5c74"]]},{"id":"a6a2f453d895f3f9","type":"api-current-state","z":"87b5c0a94f0780d8","name":"its summer hh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":660,"wires":[["043d427ed9e5d2eb"],["f4fde79564c2d4e7"]]},{"id":"3ccef5ee6a64b30d","type":"api-current-state","z":"87b5c0a94f0780d8","name":"its summer lh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":820,"wires":[["91363c20ddb68785"],["11b872e657ce3cab"]]},{"id":"1edb4f74c13aec0c","type":"trigger-state","z":"87b5c0a94f0780d8","name":"keep light sw on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.bath_light_switch_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":460,"wires":[["604e7d72cbdcddf5","fe664c9d37a3534b"],[]]},{"id":"fa533e19c081abb7","type":"trigger","z":"87b5c0a94f0780d8","name":"fan timer 10","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1690,"y":860,"wires":[["5a1719de97488988"]]},{"id":"5b7715318511bfda","type":"change","z":"87b5c0a94f0780d8","name":"tmstamp2","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":320,"wires":[["181955bc489b41df"]]},{"id":"b7fba5af7b1027d9","type":"debug","z":"87b5c0a94f0780d8","name":"light trig","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":80,"wires":[]},{"id":"00bd4c23bae4dbd6","type":"trigger","z":"87b5c0a94f0780d8","name":"fan timer 1","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1430,"y":740,"wires":[["1a79de25b8e3915e","d89177f2e741de83","5a1719de97488988"]]},{"id":"00c00b513e168ad0","type":"api-call-service","z":"87b5c0a94f0780d8","name":"fan on 10 mins","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"2fan on for 10 minutes. Enjoy!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":780,"wires":[["1346ccbe6b60439c"]]},{"id":"74319e030f2e238f","type":"trigger","z":"87b5c0a94f0780d8","name":"play radio","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1760,"y":200,"wires":[["277667f5a2593525","181955bc489b41df"]]},{"id":"181955bc489b41df","type":"trigger","z":"87b5c0a94f0780d8","name":"stop radio 1min delay","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1740,"y":260,"wires":[["74319e030f2e238f","c5bc532ed8437f2d"]]},{"id":"39672a12a9eddaf0","type":"change","z":"87b5c0a94f0780d8","name":"tmstamp1","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":120,"wires":[["74319e030f2e238f"]]},{"id":"9dae84a05018641c","type":"debug","z":"87b5c0a94f0780d8","name":"vol output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":260,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]