Bath_PIR5.json
[{"id":"b759a58e.494748","type":"tab","label":"Bath_PIR","disabled":false,"info":""},{"id":"1f0ccea0.264101","type":"api-call-service","z":"b759a58e.494748","name":"Lights on","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bathroom_on","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":100,"wires":[[]]},{"id":"15b85f7c.c50821","type":"trigger","z":"b759a58e.494748","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"180","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":540,"wires":[["8107f717.e5bf58","77f4f094.c589a","8ed38ca.0def87"]]},{"id":"8107f717.e5bf58","type":"api-call-service","z":"b759a58e.494748","name":"Lights off","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bathroom_light_off","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1020,"y":460,"wires":[[]]},{"id":"785edbda.4a14b4","type":"trigger","z":"b759a58e.494748","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"15","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":600,"wires":[["8107f717.e5bf58","77f4f094.c589a","8ed38ca.0def87"]]},{"id":"caa68e68.3515a","type":"switch","z":"b759a58e.494748","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":120,"wires":[["d61946c9.ec7b28","1f0ccea0.264101","63cadf2d.0dced","f967abd7.f3da28"],["88568b2a.4a4548","63cadf2d.0dced"]]},{"id":"d61946c9.ec7b28","type":"api-call-service","z":"b759a58e.494748","name":"Blue LED on","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bath_sense_blue","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":160,"wires":[[]]},{"id":"88568b2a.4a4548","type":"api-call-service","z":"b759a58e.494748","name":"Blue LED off","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bath_sense_blue","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":220,"wires":[[]]},{"id":"cade4d29.58814","type":"server-state-changed","z":"b759a58e.494748","name":"light on?","server":"498d175b.c26978","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.sonoff_1001058b0b","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":80,"y":700,"wires":[["af18ef18.d02da"],[]]},{"id":"fb5b1f99.3155","type":"trigger","z":"b759a58e.494748","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":480,"wires":[["8107f717.e5bf58","77f4f094.c589a","8ed38ca.0def87"]]},{"id":"8ed38ca.0def87","type":"trigger","z":"b759a58e.494748","name":"Shower trigger 1hr","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"hr","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":810,"y":640,"wires":[["8107f717.e5bf58","77f4f094.c589a"]]},{"id":"76c4b3d2.b2b2ec","type":"api-call-service","z":"b759a58e.494748","name":"bath fan on","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_100104c62e","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":280,"wires":[[]]},{"id":"db5ff34b.112ec","type":"api-call-service","z":"b759a58e.494748","name":"bath fan off","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_100104c62e","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":340,"wires":[[]]},{"id":"9e76cc68.3d3d3","type":"server-state-changed","z":"b759a58e.494748","name":"fan on?","server":"498d175b.c26978","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.sonoff_100104c62e","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":820,"wires":[["26b33ec8.0d9372","688ba972.5e9128"],["688ba972.5e9128","ed5e82ab.48fa4"]]},{"id":"26b33ec8.0d9372","type":"api-call-service","z":"b759a58e.494748","name":"Green LED on","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bath_sense_green","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":820,"wires":[[]]},{"id":"ed5e82ab.48fa4","type":"api-call-service","z":"b759a58e.494748","name":"Green LED off","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bath_sense_green","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":880,"wires":[[]]},{"id":"9a76eea3.9bf71","type":"switch","z":"b759a58e.494748","name":"Check humidity level","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"lt","v":"45","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":380,"wires":[["bfd160d4.ba25c"],["fb5b1f99.3155","66a7d6e8.afc6a8"]]},{"id":"77f4f094.c589a","type":"debug","z":"b759a58e.494748","name":"light off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":520,"wires":[]},{"id":"688ba972.5e9128","type":"debug","z":"b759a58e.494748","name":"other leds","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":940,"wires":[]},{"id":"35c04256.4867de","type":"inject","z":"b759a58e.494748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"46","payloadType":"num","x":90,"y":500,"wires":[["9a76eea3.9bf71"]]},{"id":"74df4b5.05147b4","type":"inject","z":"b759a58e.494748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"35","payloadType":"num","x":90,"y":560,"wires":[["9a76eea3.9bf71"]]},{"id":"f2bf9d80.71a4a","type":"inject","z":"b759a58e.494748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":160,"wires":[["caa68e68.3515a"]]},{"id":"63cadf2d.0dced","type":"debug","z":"b759a58e.494748","name":"motion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"d51c2c88.fd30d","type":"inject","z":"b759a58e.494748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"str","x":250,"y":500,"wires":[["ad7d8802.359a08","66a7d6e8.afc6a8","bfd160d4.ba25c"]]},{"id":"7890799d.151248","type":"inject","z":"b759a58e.494748","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":200,"wires":[["caa68e68.3515a"]]},{"id":"ad7d8802.359a08","type":"change","z":"b759a58e.494748","name":"in shower?","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"true","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[["fb5b1f99.3155","15b85f7c.c50821","785edbda.4a14b4"]]},{"id":"bfd160d4.ba25c","type":"trigger","z":"b759a58e.494748","name":">45","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":260,"wires":[["ad7d8802.359a08","66a7d6e8.afc6a8","cb5d0dc5.999bc","f8aaf167.1c932"]]},{"id":"66a7d6e8.afc6a8","type":"trigger","z":"b759a58e.494748","name":"<45","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":320,"wires":[["bfd160d4.ba25c","6e68605c.45403","8ed38ca.0def87"]]},{"id":"af18ef18.d02da","type":"trigger","z":"b759a58e.494748","name":"65 mins reset counters","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"65","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":240,"y":600,"wires":[["ad7d8802.359a08","66a7d6e8.afc6a8","bfd160d4.ba25c"]]},{"id":"59cefdf.0460404","type":"server-state-changed","z":"b759a58e.494748","name":"Rain?","server":"498d175b.c26978","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.openweathermap_condition","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rainy","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":70,"y":760,"wires":[["db1ab4e3.62a808","688ba972.5e9128"],["66b9d22a.a2907c","688ba972.5e9128"]]},{"id":"db1ab4e3.62a808","type":"api-call-service","z":"b759a58e.494748","name":"Red LED on","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bath_sense_red","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":720,"wires":[[]]},{"id":"66b9d22a.a2907c","type":"api-call-service","z":"b759a58e.494748","name":"Red LED off","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bath_sense_red","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":760,"wires":[[]]},{"id":"af8809b8.4d9208","type":"server-state-changed","z":"b759a58e.494748","name":"Bath mo?","server":"498d175b.c26978","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bath_sense_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":140,"y":100,"wires":[["caa68e68.3515a"],["caa68e68.3515a"]]},{"id":"f967abd7.f3da28","type":"api-current-state","z":"b759a58e.494748","name":"Bath humid light","server":"498d175b.c26978","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.bath_sense_humidity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":300,"wires":[["9a76eea3.9bf71"]]},{"id":"62e9a685.0c0f48","type":"server-state-changed","z":"b759a58e.494748","name":"bh","server":"498d175b.c26978","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bath_sense_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"45","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":650,"y":340,"wires":[["466cf9f9.e34fd8"],["e8307b99.823ce8"]]},{"id":"466cf9f9.e34fd8","type":"change","z":"b759a58e.494748","name":"Turn on the fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":320,"wires":[["2863a90d.73f0d6"]]},{"id":"e8307b99.823ce8","type":"change","z":"b759a58e.494748","name":"Turn off the fan","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":360,"wires":[["461dafd1.3cd79"]]},{"id":"461dafd1.3cd79","type":"api-current-state","z":"b759a58e.494748","name":"cooler off","server":"498d175b.c26978","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.fan_power","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":400,"wires":[["5aa5ae6a.5c995"],[]]},{"id":"2863a90d.73f0d6","type":"trigger","z":"b759a58e.494748","name":">45","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1030,"y":280,"wires":[["5aa5ae6a.5c995","76c4b3d2.b2b2ec"]]},{"id":"5aa5ae6a.5c995","type":"trigger","z":"b759a58e.494748","name":"<45","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1030,"y":340,"wires":[["2863a90d.73f0d6","db5ff34b.112ec"]]},{"id":"cb5d0dc5.999bc","type":"debug","z":"b759a58e.494748","name":"toggle high2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":685,"y":210,"wires":[]},{"id":"6e68605c.45403","type":"debug","z":"b759a58e.494748","name":"togle low2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]},{"id":"f8aaf167.1c932","type":"change","z":"b759a58e.494748","name":"change to on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":420,"wires":[["8ed38ca.0def87","2e2c8fd6.9e3ae"]]},{"id":"ac38b731.9d4988","type":"comment","z":"b759a58e.494748","name":"Separate fan node","info":"Separate node for Fan only","x":850,"y":280,"wires":[]},{"id":"69e4c816.545078","type":"comment","z":"b759a58e.494748","name":"Out 1 per toggle","info":"","x":440,"y":220,"wires":[]},{"id":"2e2c8fd6.9e3ae","type":"debug","z":"b759a58e.494748","name":"1hr on?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":600,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]