Bath_PIR94.json
[{"id":"d6dccb299062ba61","type":"tab","label":"Bath auto1","disabled":false,"info":""},{"id":"0f19dd3c5ebc9419","type":"trigger","z":"d6dccb299062ba61","name":"","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"12","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1030,"y":460,"wires":[["798243a45d3eca7d","d6387bcda3a2e4c5"]],"info":"Shower minutes"},{"id":"c006ed84ed6675b5","type":"switch","z":"d6dccb299062ba61","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":345,"y":280,"wires":[["494ec3b630135ad7","2616ea7470b715ce"],["0cf1636eadced7f1"]]},{"id":"89e46881b39ee425","type":"api-call-service","z":"d6dccb299062ba61","name":"Humid high Blue LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_blue"],"data":"{\"brightness_pct\":\"55\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2050,"y":1360,"wires":[["c70ffe90fb26c1f5","7fd763d2dc4773a8"]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"55\"}"},{"id":"432b4ee1a2510790","type":"api-call-service","z":"d6dccb299062ba61","name":"Humid Blue off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_blue"],"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2060,"y":1460,"wires":[["22cef85c94ba3daa"]]},{"id":"07c0195f78cae113","type":"api-call-service","z":"d6dccb299062ba61","name":"bath fan on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bath_fan_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":1120,"wires":[["e9afc68593f8828b"]]},{"id":"19843f2c00215f76","type":"api-call-service","z":"d6dccb299062ba61","name":"bath fan off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bath_fan_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":1220,"wires":[["5e2f67d94b2d83ef","75ef970e47eecf48"]]},{"id":"494ec3b630135ad7","type":"api-call-service","z":"d6dccb299062ba61","name":"grn LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_green"],"data":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":580,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"40\"}"},{"id":"b4c198bbb2ba7b2b","type":"api-call-service","z":"d6dccb299062ba61","name":"Red LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_red"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2055,"y":1740,"wires":[["cd3ebac8cc1c2231"]]},{"id":"90719d1ca010228c","type":"server-state-changed","z":"d6dccb299062ba61","name":"bh","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bath_sense_humidity_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities(\"input_number.bath_humid_set\").state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":65,"y":780,"wires":[["1c2c46ce0ed57770","25f056042b0424a8","a82a3ca08d67c445"],["222bb09723a69c5c","6fdb42e39027bb1c","185896e156bc3460"]]},{"id":"6fe7df16f1937ab5","type":"api-current-state","z":"d6dccb299062ba61","name":"cooler off","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":440,"y":920,"wires":[["4953a603b3cc1c3e","3bce5f7673e942d9","2357a030078da28b"],["50eb3ae06ec0d2df","30fbd4648cc89c06"]]},{"id":"e9afc68593f8828b","type":"debug","z":"d6dccb299062ba61","name":"fan on out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":1180,"wires":[]},{"id":"5e2f67d94b2d83ef","type":"debug","z":"d6dccb299062ba61","name":"fan off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":1280,"wires":[]},{"id":"406ec994c0fee51a","type":"debug","z":"d6dccb299062ba61","name":"15 triggered","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":700,"wires":[]},{"id":"82942fbbfcaad190","type":"inject","z":"d6dccb299062ba61","name":"bath fan reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":410,"y":420,"wires":[["4c87ec2509f3928c"]]},{"id":"bca8f5d5f2a117e7","type":"inject","z":"d6dccb299062ba61","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":105,"y":360,"wires":[["c006ed84ed6675b5"]]},{"id":"bc9e7f02426180a5","type":"inject","z":"d6dccb299062ba61","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":105,"y":400,"wires":[["c006ed84ed6675b5"]]},{"id":"720b0cb9b58f0b81","type":"trigger","z":"d6dccb299062ba61","name":"cool fan on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":640,"wires":[["37026ada8533b35d","97742211293e0196","3bce5f7673e942d9"]]},{"id":"3bce5f7673e942d9","type":"trigger","z":"d6dccb299062ba61","name":"cool fan off","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":950,"y":700,"wires":[["720b0cb9b58f0b81","b7b272081437349d","f5d9551e6b20cb47"]]},{"id":"0a00af29596bd21b","type":"trigger","z":"d6dccb299062ba61","name":"rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":270,"y":1180,"wires":[["7dbc2789dd5da0bb","65ca6b73795f77f9","8ebe860559bcfab2"]]},{"id":"7dbc2789dd5da0bb","type":"trigger","z":"d6dccb299062ba61","name":"no rain","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":1220,"wires":[["0a00af29596bd21b","a8a93165cf909a80","a67cb2705c59aa86"]]},{"id":"1c2c46ce0ed57770","type":"trigger","z":"d6dccb299062ba61","name":"humid over threshold","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":995,"y":800,"wires":[["222bb09723a69c5c","89e46881b39ee425"]]},{"id":"222bb09723a69c5c","type":"trigger","z":"d6dccb299062ba61","name":"humid under","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1005,"y":860,"wires":[["1c2c46ce0ed57770","2357a030078da28b","432b4ee1a2510790"]]},{"id":"957df55d140c1974","type":"api-current-state","z":"d6dccb299062ba61","name":"cooler on","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.fan_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":335,"y":660,"wires":[["01480f5dac7adc13","30fbd4648cc89c06"],["c156e3b1ae83a333","d96233c5e89dc758"]],"info":"unavailable\nswitch.fan_power\nswitch.bath_fan_switch_2"},{"id":"75ef970e47eecf48","type":"change","z":"d6dccb299062ba61","name":"reset toggles off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1575,"y":940,"wires":[["1c2c46ce0ed57770","222bb09723a69c5c","7e9c3fc4ed2b7ecf","a190be8970cfecab","432b4ee1a2510790","f5d9551e6b20cb47","7b1ef8e84fe89d83","720b0cb9b58f0b81"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"27be563d659151d1","type":"inject","z":"d6dccb299062ba61","name":"true-reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":540,"y":500,"wires":[["75ef970e47eecf48","6e671fcda474fbee","1c2555b445c655e8","58ec9b635419d68b"]]},{"id":"2616ea7470b715ce","type":"api-current-state","z":"d6dccb299062ba61","name":"R we showering-1","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":305,"y":160,"wires":[["6eba15691de6e35e","c16065ee4db03653","a190be8970cfecab"],["37d90a2168f4363c","2e4ecbe391d5fd51","d6387bcda3a2e4c5"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n"},{"id":"6eba15691de6e35e","type":"debug","z":"d6dccb299062ba61","name":"hH","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"37d90a2168f4363c","type":"debug","z":"d6dccb299062ba61","name":"hL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":160,"wires":[]},{"id":"25f056042b0424a8","type":"debug","z":"d6dccb299062ba61","name":"humid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":90,"y":720,"wires":[]},{"id":"6fdb42e39027bb1c","type":"debug","z":"d6dccb299062ba61","name":"not humid","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":95,"y":860,"wires":[]},{"id":"a8a93165cf909a80","type":"change","z":"d6dccb299062ba61","name":"thunder over","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1440,"wires":[["a67cb2705c59aa86"]]},{"id":"20317ae5d2898524","type":"trigger","z":"d6dccb299062ba61","name":"thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":1400,"wires":[["e2ac60fa06297d85","8b4c2b80f9bd246e","dc2cf50109237d45"]]},{"id":"e2ac60fa06297d85","type":"trigger","z":"d6dccb299062ba61","name":"no thunder","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":360,"y":1440,"wires":[["20317ae5d2898524","a8a93165cf909a80","71b52c95621c4fe3"]]},{"id":"f1c33fb4aa437ac2","type":"debug","z":"d6dccb299062ba61","name":"rain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":1160,"wires":[]},{"id":"71b52c95621c4fe3","type":"debug","z":"d6dccb299062ba61","name":"no thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1480,"wires":[]},{"id":"8b4c2b80f9bd246e","type":"debug","z":"d6dccb299062ba61","name":"thunder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1400,"wires":[]},{"id":"88bb02c7de864547","type":"debug","z":"d6dccb299062ba61","name":"no rain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1260,"wires":[]},{"id":"0c13baa9c9d62695","type":"inject","z":"d6dccb299062ba61","name":"reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":70,"y":1360,"wires":[["0a00af29596bd21b","7dbc2789dd5da0bb","20317ae5d2898524","e2ac60fa06297d85"]]},{"id":"c796182bf108861b","type":"inject","z":"d6dccb299062ba61","name":"rain","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1100,"wires":[["0a00af29596bd21b"]]},{"id":"34fdba466c2607de","type":"api-call-service","z":"d6dccb299062ba61","name":"Red LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bath_sense_red"],"data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2055,"y":1680,"wires":[["cf8c784113777144","c2624a2f60ba0d94"]]},{"id":"7f4f79bb082102c6","type":"inject","z":"d6dccb299062ba61","name":"no rain","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":1320,"wires":[["7dbc2789dd5da0bb"]]},{"id":"3b7231a73a6ca93e","type":"debug","z":"d6dccb299062ba61","name":"light is off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":820,"wires":[]},{"id":"4953a603b3cc1c3e","type":"debug","z":"d6dccb299062ba61","name":"co true 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":860,"wires":[]},{"id":"01480f5dac7adc13","type":"debug","z":"d6dccb299062ba61","name":"co true 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":600,"wires":[]},{"id":"c156e3b1ae83a333","type":"debug","z":"d6dccb299062ba61","name":"CO false 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":660,"wires":[]},{"id":"50eb3ae06ec0d2df","type":"debug","z":"d6dccb299062ba61","name":"CO false 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"874e53c47a79056a","type":"inject","z":"d6dccb299062ba61","name":"start blue blinking","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":635,"y":1140,"wires":[["31593392cbfbaf33"]]},{"id":"798243a45d3eca7d","type":"debug","z":"d6dccb299062ba61","name":"12 trig out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1195,"y":560,"wires":[]},{"id":"d96233c5e89dc758","type":"api-current-state","z":"d6dccb299062ba61","name":"more humid than > oh1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.oh1_humidity\").state)\t","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":760,"wires":[["30fbd4648cc89c06"],["7e9c3fc4ed2b7ecf","868eebedfba3514a"]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state"},{"id":"b8f2ddab8c647c1f","type":"poll-state","z":"d6dccb299062ba61","name":"Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"($entities(\"weather.openweathermap\").state = \"pouring\" or $entities(\"weather.openweathermap\").state = \"rainy\" or $entities(\"binary_sensor.internet\").state = true )","halt_if_type":"jsonata","halt_if_compare":"jsonata","outputs":2,"x":50,"y":1140,"wires":[["0a00af29596bd21b","f1c33fb4aa437ac2"],["7dbc2789dd5da0bb","88bb02c7de864547"]]},{"id":"cca831fb67a0931e","type":"poll-state","z":"d6dccb299062ba61","name":"Thunder & Rain?","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":false,"entity_id":"weather.openweathermap","state_type":"str","halt_if":"lightning","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"x":80,"y":1400,"wires":[["20317ae5d2898524","cef8964ac4b4d1e1"],["e2ac60fa06297d85","38377e36b2d9c0c7"]]},{"id":"19a1f0f355e70db0","type":"inject","z":"d6dccb299062ba61","name":"lightning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lightning","payloadType":"msg","x":80,"y":1580,"wires":[["20317ae5d2898524"]]},{"id":"cef8964ac4b4d1e1","type":"debug","z":"d6dccb299062ba61","name":"t2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1500,"wires":[]},{"id":"38377e36b2d9c0c7","type":"debug","z":"d6dccb299062ba61","name":"t3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":1540,"wires":[]},{"id":"dc2cf50109237d45","type":"change","z":"d6dccb299062ba61","name":"yes thunder","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1340,"wires":[["9b9bb320d5021cd8","4d5157ede4941947"]]},{"id":"51b90770f8f7c48c","type":"change","z":"d6dccb299062ba61","name":"true no shower","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":580,"wires":[["4e3fd30906cc9cd2","b07da8a00a9e8e18","57e2c252dd02e9e5","9dc6ca30ad4fdef2","6abd4b842ea9f506"]],"info":"Can use msg: reset = timestamp"},{"id":"a978c89cb45af2e4","type":"debug","z":"d6dccb299062ba61","name":"humid and > ih1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":960,"wires":[]},{"id":"d1ea2f8dc6803315","type":"debug","z":"d6dccb299062ba61","name":"humid but < ih1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":1060,"wires":[]},{"id":"2357a030078da28b","type":"change","z":"d6dccb299062ba61","name":"reset flashers off","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":1060,"wires":[["432b4ee1a2510790","7e9c3fc4ed2b7ecf","a190be8970cfecab"]],"info":"Can use msg: reset = timestamp"},{"id":"f5d9551e6b20cb47","type":"trigger","z":"d6dccb299062ba61","name":"failsafe off after 45 mins","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"45","extend":false,"overrideDelay":true,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1370,"y":720,"wires":[["3ad882c0607dae9d","e5ac4111783934f9"]]},{"id":"37026ada8533b35d","type":"change","z":"d6dccb299062ba61","name":"turn on 45 timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":640,"wires":[["f5d9551e6b20cb47","c32ee796550de9b9"]]},{"id":"4e3fd30906cc9cd2","type":"api-call-service","z":"d6dccb299062ba61","name":"Bulb1BA-off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["70af5abd105cae66d797c5ae762ecc90"],"entityId":[],"data":"{\"transition\":\"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2115,"y":760,"wires":[["3b7231a73a6ca93e","58ec9b635419d68b","a4c0767e5d4f9973","acceb93ce07604eb","1c2555b445c655e8"]]},{"id":"43f23b2e0707e453","type":"api-call-service","z":"d6dccb299062ba61","name":"Bulb1BA-low","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bathroom_low"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":80,"wires":[[]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"559907eb61eaf399","type":"api-call-service","z":"d6dccb299062ba61","name":"Bulb1BA-high","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bathroom_white"],"data":"{\"transition\":\"2\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2100,"y":140,"wires":[[]]},{"id":"1c2555b445c655e8","type":"trigger","z":"d6dccb299062ba61","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":40,"wires":[["58ec9b635419d68b","e09b18393e726fc1","08e6215c3fd6da73"]]},{"id":"58ec9b635419d68b","type":"trigger","z":"d6dccb299062ba61","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1150,"y":100,"wires":[["1c2555b445c655e8","28b667ca88092f87","58490904c6898f10","eeb97189b29f63a2","775bb9b74f06d72d"]]},{"id":"0cf1636eadced7f1","type":"api-call-service","z":"d6dccb299062ba61","name":"grn LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bath_sense_green"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2070,"y":640,"wires":[["0769cd94af529095"]]},{"id":"acceb93ce07604eb","type":"trigger","z":"d6dccb299062ba61","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1540,"y":680,"wires":[["f9583275689c890a","b51487db1fbba4fc","98dee4da77e1e723","0cf1636eadced7f1","eb702833c98ed974","dafea17badd3fb7a"]]},{"id":"b51487db1fbba4fc","type":"api-call-service","z":"d6dccb299062ba61","name":"# of showsers","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.showers_done_today"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2080,"y":900,"wires":[[]]},{"id":"76ba8f36f4803e13","type":"debug","z":"d6dccb299062ba61","name":"fan off delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":1240,"wires":[]},{"id":"c16065ee4db03653","type":"api-current-state","z":"d6dccb299062ba61","name":"Todays showers ok","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.people_at_home\").state)","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"counter.showers_done_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":240,"wires":[["406ec994c0fee51a","0f19dd3c5ebc9419","acceb93ce07604eb","7b5b64a0f9dc31f6","18db199faaa850d9","8f22b191528670e8","a17b9b5536a58d14","30fbd4648cc89c06"],["d6387bcda3a2e4c5","2e4ecbe391d5fd51","fe6e272280aedc50"]],"info":"$number($entities(\"sensor.people_at_home\").state)"},{"id":"7b5b64a0f9dc31f6","type":"debug","z":"d6dccb299062ba61","name":"showers ok?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"757d72580b3b42cc","type":"api-current-state","z":"d6dccb299062ba61","name":"R we showering-2","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)","halt_if_type":"jsonata","halt_if_compare":"gt","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1250,"y":400,"wires":[["35b359fc41506b34","0f19dd3c5ebc9419","30fbd4648cc89c06"],["75ef970e47eecf48","51b90770f8f7c48c"]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n\n"},{"id":"b07da8a00a9e8e18","type":"debug","z":"d6dccb299062ba61","name":"true no shower","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":520,"wires":[]},{"id":"c711c3236d0f6a06","type":"api-call-service","z":"d6dccb299062ba61","name":"input raining","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"Hey everyone! It is raining outside! Stay dry. Thank you.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":1200,"wires":[["2bf28a1f271ebf9d"]]},{"id":"c84e7dbf64b8d1e1","type":"api-call-service","z":"d6dccb299062ba61","name":"say text","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"speak_and_resume","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":2100,"y":1020,"wires":[[]],"info":"$entities(\"input_text.ttssay\").state"},{"id":"f9583275689c890a","type":"api-call-service","z":"d6dccb299062ba61","name":"input shower on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"2Hay!, Whoever is in here, the shower timer is now turned on. Enjoy!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2105,"y":860,"wires":[["2bf28a1f271ebf9d"]]},{"id":"fc1624525165cfcc","type":"inject","z":"d6dccb299062ba61","name":"test shower speak","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1690,"y":380,"wires":[["f9583275689c890a"]]},{"id":"6e671fcda474fbee","type":"delay","z":"d6dccb299062ba61","name":"hope lwr humid every 77 mins","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"77","rateUnits":"minute","randomFirst":"3","randomLast":"15","randomUnits":"minutes","drop":true,"allowrate":false,"outputs":1,"x":1070,"y":920,"wires":[["3c319f41486a7327","37026ada8533b35d","30fbd4648cc89c06"]]},{"id":"3c319f41486a7327","type":"debug","z":"d6dccb299062ba61","name":"Hope","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":960,"wires":[]},{"id":"868eebedfba3514a","type":"api-current-state","z":"d6dccb299062ba61","name":"more humid than > ih1?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.ih1_humidity\").state) - 1.0","halt_if_type":"jsonata","halt_if_compare":"gte","entity_id":"sensor.bath_sense_humidity_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":920,"wires":[["30fbd4648cc89c06","a978c89cb45af2e4"],["3bce5f7673e942d9","d1ea2f8dc6803315","6e671fcda474fbee"]],"info":"sensor.bath_sense_humidity_2\n\n($entities('sensor.bath_sense_humidity_2').state > $entities('sensor.oh1_humidity').state)\n\nJson:\n$entities(\"sensor.oh1_humidity\").state\n\n+1"},{"id":"cd3ebac8cc1c2231","type":"link out","z":"d6dccb299062ba61","name":"Rain red off connect","mode":"link","links":["7c9dc0d905041b8b","5e7914c61e0c97d9"],"x":1980,"y":1740,"wires":[]},{"id":"cf8c784113777144","type":"link out","z":"d6dccb299062ba61","name":"Rain red on connect","mode":"link","links":["c098f323daf43036","3cb96420934fda15"],"x":1980,"y":1680,"wires":[]},{"id":"c70ffe90fb26c1f5","type":"link out","z":"d6dccb299062ba61","name":"Humid Blue on connect","mode":"link","links":["6822ebbabb3dae5d","fb99ade464228d28"],"x":1975,"y":1320,"wires":[]},{"id":"22cef85c94ba3daa","type":"link out","z":"d6dccb299062ba61","name":"Humid Blue off connect","mode":"link","links":["a6e83cdf9d0be7bc","85ce06800199d505"],"x":1975,"y":1520,"wires":[]},{"id":"1df7acd5e1ecaff1","type":"link out","z":"d6dccb299062ba61","name":"Getup at night","mode":"link","links":["40ed2856420c303c","17d17d3ec45a1334"],"x":935,"y":60,"wires":[]},{"id":"7e9c3fc4ed2b7ecf","type":"trigger","z":"d6dccb299062ba61","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1075,"y":1120,"wires":[["31593392cbfbaf33"]]},{"id":"31593392cbfbaf33","type":"function","z":"d6dccb299062ba61","name":"make pulse slow-too humid","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"slow\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":1160,"wires":[["89e46881b39ee425","701364cde75bc037"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"slow\"\n    }\n};\nreturn msg;"},{"id":"7fd763d2dc4773a8","type":"debug","z":"d6dccb299062ba61","name":"blu light data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":1420,"wires":[]},{"id":"9b9bb320d5021cd8","type":"function","z":"d6dccb299062ba61","name":"make pulse fast","func":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":1280,"wires":[["65ca6b73795f77f9"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"25\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"6855b4babc21d180","type":"function","z":"d6dccb299062ba61","name":"make pulse fast-shower","func":"msg.payload =\n{\n    \"data\": { \"effect\": \"fast\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1405,"y":1080,"wires":[["89e46881b39ee425"]],"info":"msg.payload =\n{\n    \"data\": { \"brightness_pct\":\"55\",\n        \"effect\": \"fast\"\n    }\n};\nreturn msg;"},{"id":"a190be8970cfecab","type":"trigger","z":"d6dccb299062ba61","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1375,"y":1040,"wires":[["6855b4babc21d180"]]},{"id":"701364cde75bc037","type":"debug","z":"d6dccb299062ba61","name":"light data 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":1160,"wires":[]},{"id":"0b57d3d06981dd26","type":"inject","z":"d6dccb299062ba61","name":"Blue off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":525,"y":540,"wires":[["432b4ee1a2510790"]]},{"id":"0769cd94af529095","type":"link out","z":"d6dccb299062ba61","name":"Motion off","mode":"link","links":["b2644189723488de","79087ff3624389fb"],"x":2175,"y":640,"wires":[]},{"id":"c2624a2f60ba0d94","type":"debug","z":"d6dccb299062ba61","name":"LED on?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2085,"y":1620,"wires":[]},{"id":"4994b118c539e04b","type":"trigger-state","z":"d6dccb299062ba61","name":"Motion Override on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_motion_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"entity_id","targetValue":"input_boolean.bath_overide","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":false,"x":105,"y":300,"wires":[["c006ed84ed6675b5"],[]]},{"id":"2e4ecbe391d5fd51","type":"api-render-template","z":"d6dccb299062ba61","name":"Check sleeping sws","server":"498d175b.c26978","version":0,"template":"{{ states.input_boolean.house_sleep_mode.state == 'on' or states.binary_sensor.house_sleep_time.state == \"on\" }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":305,"y":100,"wires":[["904d6f2c7e1eb612","0ea56a1c46ca9544"]]},{"id":"904d6f2c7e1eb612","type":"switch","z":"d6dccb299062ba61","name":"to be or not to be","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":305,"y":40,"wires":[["1c2555b445c655e8","1df7acd5e1ecaff1"],["68e1f885af6384b8"]]},{"id":"286cd5ad158549c2","type":"api-current-state","z":"d6dccb299062ba61","name":"Sleeping no","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":930,"y":1220,"wires":[["c711c3236d0f6a06"],[]]},{"id":"4cb7bb976d8e911a","type":"api-call-service","z":"d6dccb299062ba61","name":"turn sw on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bath_light_switch_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":520,"wires":[[]]},{"id":"9d47ed6f9346fbc5","type":"debug","z":"d6dccb299062ba61","name":"light sw on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":170,"y":560,"wires":[]},{"id":"d9e52cce077dc577","type":"trigger-state","z":"d6dccb299062ba61","name":"man fan on2","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.bath_sense_fan_10","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":2330,"y":520,"wires":[["9d7824286c81d7b9","de9630c1c0b8b60c","8f01f972b5b90f18","07c0195f78cae113","720b0cb9b58f0b81"],["9d7824286c81d7b9"]],"info":"binary_sensor.bath_sense_fan_10\n\nswitch.bath_fan_switch_2"},{"id":"9d7824286c81d7b9","type":"debug","z":"d6dccb299062ba61","name":"fan on2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":460,"wires":[]},{"id":"fd27c7fa3ce8a183","type":"comment","z":"d6dccb299062ba61","name":"update","info":"Green blink = Movement\nRed solid = Raining\nRed blinking = Thunderstorm\nBlue blink slow = Outside humid > inside\nBlue blink fast = Shower tagged\nGreen solid and Blue blink fast, or Blue blink fast\n  = Shower timer on 12 min\n\nBath_PIR64- this last one we added back lines to reset flashers and triggers for fan off\nadded true to fan timer 10 and\nadded \"turn on timer\" to cool fan off\nBath_PIR66- Added reset lines from \"true no shower\" to Dim and bright toggles, because with high humidity bulb would not come on after turning it off\nBath_PIR67- Working on input light timer, changed to 2.5 mins- done\nBath_PIR68- Added link from taking shower to bedroom bright light for 10 min, increased shower timer from 10 to 12 mins\nBath_PIR69- added thunderstorm warning to Audiocast\n---removed link temp untill bathroom sound is in place\nBath_PIR70 - added radio start on bright and stop with light off\nBath_PIR71 - added distribution nodes and more logic to play radio during shower(increase vol), fixed new boolen Its summer node\nBath_PIR72 - adj shower speaker volume down, removed true link from R we showering-1 to shower dist\nBath_PIR73 - added 60 sec. delay to radio off, changed volume up to directly media player\nBath_PIR74 - change feed back of shower timer done to main light on timer. Corrected set volume down. Added sound for fan on 10 mins\nBath_PIR75 - change shower on logic\nBath_PIR76 - corrected shower dist object and turn up and turn down volume \n- added sig cntrl play\nBath_PIR77 -  Shower say did not reset, made connection from bulb off to \"trigger&block\" reset\nBath_PIR78 - Correct radio turn off when fan sw is pressed\nBath_PIR79 - Correct high humid and number of showers compared to people in home.  Only allow 1 shower per day per person\nBath_PIR80 - Less humid than outside changed fan to offas well as on for >, added delay to speak\nBath_PIR81 - correct shower on when in sleep mode logic, Bulb1 change name occured\nBath_PIR82 - Fix logic when 12min timer runs out, cooler off turn bath fan off\nBath_PIR83 - added Bedroom override, adjust fan for showers\nBath_PIR84 - fix fan not coming on\nBath_PIR85 - new rain detector\nBath_PIR86 - After a couple of updates, humid stat stopped working, added inject reset every 4 hours, added delay to fan on, corrected humid < outside and not summer.\nBath_PIR87 - Fix radio volume going high when bulb shuts off\nBath_PIR88 - Fan turning on and not turning off\nBath_PIR89 - removed turning motion back on for bedroom\nBath_PIR90 - slow rate limit for rain and thunder to msg/1hr\nBath_PIR91 - work on humid lower control.\nBath_PIR92 - Added External reset because of scripts\nBath_PIR93 - add med light when low and waking\nBath_PIR94 - added a delay to shower on light to avoid system bad timing.","x":70,"y":20,"wires":[]},{"id":"1a07af5bc58ab43d","type":"comment","z":"d6dccb299062ba61","name":"current timers in use","info":"2.5 min = normal\n12 min = showers\nwith version 67 now with outside slider","x":950,"y":400,"wires":[]},{"id":"65ca6b73795f77f9","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1320,"wires":[["34fdba466c2607de"]]},{"id":"a67cb2705c59aa86","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1520,"y":1380,"wires":[["b4c198bbb2ba7b2b"]]},{"id":"dac87e1db99914f7","type":"trigger","z":"d6dccb299062ba61","name":"","op1":"","op2":"true","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":true,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1105,"y":380,"wires":[["757d72580b3b42cc","290a8feecee4663a"]],"l":false},{"id":"d6387bcda3a2e4c5","type":"api-current-state","z":"d6dccb299062ba61","name":"BA time slider","server":"498d175b.c26978","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bath_light_timer","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"inputState","override_payload":"msg","entity_location":"","override_data":"none","x":940,"y":280,"wires":[["ac3a8a55f5960100"]]},{"id":"ac3a8a55f5960100","type":"change","z":"d6dccb299062ba61","name":"input delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"msg.payload*60000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":340,"wires":[["dac87e1db99914f7","85753bc51e29511c"]]},{"id":"85753bc51e29511c","type":"debug","z":"d6dccb299062ba61","name":"timer output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"290a8feecee4663a","type":"debug","z":"d6dccb299062ba61","name":"trig time out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":360,"wires":[]},{"id":"18db199faaa850d9","type":"link out","z":"d6dccb299062ba61","name":"taking shower","mode":"link","links":["5d7b659b06af9f08","62e30f463c015b07"],"x":925,"y":560,"wires":[]},{"id":"d66b03aa24b56744","type":"api-call-service","z":"d6dccb299062ba61","name":"input lightning","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"Hey everyone! Thunderstorms are coming. Dodge the lightning. Take care.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":1360,"wires":[["2bf28a1f271ebf9d"]]},{"id":"8beb725782c34678","type":"api-current-state","z":"d6dccb299062ba61","name":"Sleeping no","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":1380,"wires":[["d66b03aa24b56744"],[]]},{"id":"21e245e6c04a233a","type":"api-call-service","z":"d6dccb299062ba61","name":"play radio","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"play_radio_ba","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2120,"y":200,"wires":[[]],"info":"$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)\n\n\n"},{"id":"b8a4085c4001bf06","type":"api-call-service","z":"d6dccb299062ba61","name":"Stop radio","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":["bathroom"],"deviceId":["1f927b64a928cbbbbcfebe9340a017f8"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2130,"y":260,"wires":[["84cfb0fcc3bade22","7f42c7a31aef7ff1"]]},{"id":"57e2c252dd02e9e5","type":"change","z":"d6dccb299062ba61","name":"no true","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":360,"wires":[[]]},{"id":"6d7b5a798c70cd74","type":"api-render-template","z":"d6dccb299062ba61","name":"add radio volume","server":"498d175b.c26978","version":0,"template":"{% set test = ((states(\"input_number.radio_volume_ba\") | float + 0.20) * 1000 )| round(0) | int / 1000 %}\n {% if test > 1 %}\n  {% set test = 1 %}\n   {{ test }}\n {%- else -%}\n{{ test }}\n{%- endif %}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1470,"y":180,"wires":[["3c2a4494b7a7b630","6378b338237edd6d"]],"info":"input_number.radio_volume_ba\n\n$number($entities(\"input_number.bath_humid_set\").state) + $number($entities(\"input_number.shower_constant\").state)"},{"id":"a4a5fa2ee08afb20","type":"debug","z":"d6dccb299062ba61","name":"Sh dist","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"8f22b191528670e8","type":"change","z":"d6dccb299062ba61","name":"shower dist","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[["58ec9b635419d68b","a4a5fa2ee08afb20","84cfb0fcc3bade22"]],"info":"J:\n$sum(payload+20)"},{"id":"68e1f885af6384b8","type":"change","z":"d6dccb299062ba61","name":"dist","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":80,"wires":[["58ec9b635419d68b"]]},{"id":"84cfb0fcc3bade22","type":"trigger","z":"d6dccb299062ba61","name":"sig cntrl vol","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1110,"y":180,"wires":[["493889aaa99c32f4","dac87e1db99914f7","70a0df90b97cde3e"]]},{"id":"493889aaa99c32f4","type":"debug","z":"d6dccb299062ba61","name":"sig cntrl vol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":240,"wires":[]},{"id":"dafea17badd3fb7a","type":"api-call-service","z":"d6dccb299062ba61","name":"BulbBedRoom-on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2095,"y":520,"wires":[[]],"info":"Bed room bulb"},{"id":"8e0c37f1579dfc1f","type":"inject","z":"d6dccb299062ba61","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":200,"wires":[["8f22b191528670e8"]]},{"id":"3c2a4494b7a7b630","type":"api-call-service","z":"d6dccb299062ba61","name":"turn up the vol","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.soundsystem_a226"],"data":"{  \"volume_level\":\"{{payload}}\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2100,"y":320,"wires":[[]],"info":"{  $number(\"volume_level\": \"{{payload}}\") }\n\nworks\n{  \"volume_level\":\"{{payload}}\" }"},{"id":"9dc6ca30ad4fdef2","type":"api-call-service","z":"d6dccb299062ba61","name":"turn down the vol","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.soundsystem_a226"],"data":"{ \"volume_level\":$number($entities(\"input_number.radio_vol_ba_save\").state) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2110,"y":380,"wires":[[]],"info":"works\n{ \"volume_level\":$number($entities(\"input_number.radio_vol_ba_save\").state) }"},{"id":"13101f9a3254655a","type":"inject","z":"d6dccb299062ba61","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1720,"y":340,"wires":[["57e2c252dd02e9e5"]]},{"id":"775bb9b74f06d72d","type":"api-call-service","z":"d6dccb299062ba61","name":"save vol1","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.radio_vol_ba_save"],"data":"{\"value\":$number($entities(\"input_number.radio_volume_ba\").state) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":100,"wires":[["559907eb61eaf399"]]},{"id":"a82a3ca08d67c445","type":"api-current-state","z":"d6dccb299062ba61","name":"its summer hh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":660,"wires":[["957df55d140c1974"],["d96233c5e89dc758"]]},{"id":"185896e156bc3460","type":"api-current-state","z":"d6dccb299062ba61","name":"its summer lh","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":820,"wires":[["6fe7df16f1937ab5"],["3bce5f7673e942d9"]]},{"id":"705f0dc822ee5199","type":"trigger-state","z":"d6dccb299062ba61","name":"keep light sw on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.bath_light_switch_2","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":460,"wires":[["4cb7bb976d8e911a","9d47ed6f9346fbc5"],[]]},{"id":"de9630c1c0b8b60c","type":"trigger","z":"d6dccb299062ba61","name":"fan timer 10","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":2610,"y":760,"wires":[["3bce5f7673e942d9","e5ac4111783934f9"]]},{"id":"a4c0767e5d4f9973","type":"change","z":"d6dccb299062ba61","name":"tmstamp2","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":320,"wires":[["eeb97189b29f63a2"]]},{"id":"28b667ca88092f87","type":"debug","z":"d6dccb299062ba61","name":"light trig Bright","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":80,"wires":[]},{"id":"7f26bd26456ef577","type":"api-call-service","z":"d6dccb299062ba61","name":"fan on 10 mins","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.ttssay"],"data":"{\"value\":\"2fan on for 10 minutes. Enjoy!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2620,"y":560,"wires":[["b8a4085c4001bf06","fa86565c065c9382","2bf28a1f271ebf9d"]]},{"id":"58ccb70171bda2b8","type":"trigger","z":"d6dccb299062ba61","name":"play radio","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1740,"y":200,"wires":[["eeb97189b29f63a2","21e245e6c04a233a"]]},{"id":"eeb97189b29f63a2","type":"trigger","z":"d6dccb299062ba61","name":"stop radio 1min delay","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1740,"y":260,"wires":[["58ccb70171bda2b8","b8a4085c4001bf06"]]},{"id":"58490904c6898f10","type":"change","z":"d6dccb299062ba61","name":"tmstamp1","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":120,"wires":[["58ccb70171bda2b8"]]},{"id":"6378b338237edd6d","type":"debug","z":"d6dccb299062ba61","name":"vol output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1440,"y":260,"wires":[]},{"id":"75706224342185b4","type":"inject","z":"d6dccb299062ba61","name":"test radio stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2410,"y":340,"wires":[["de9630c1c0b8b60c","8f01f972b5b90f18","07c0195f78cae113"]]},{"id":"9a10599cf48823e9","type":"api-call-service","z":"d6dccb299062ba61","name":"set radio none","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":["input_select.radio_station_ba_2"],"data":"{\"option\":\"none\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2600,"y":520,"wires":[["7f26bd26456ef577"]]},{"id":"8f01f972b5b90f18","type":"api-call-service","z":"d6dccb299062ba61","name":"save set","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.mpdcheck"],"data":"{\"value\":$entities(\"input_select.radio_station_ba_2\").state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2600,"y":420,"wires":[["90ceb04278181a3c"]]},{"id":"90ceb04278181a3c","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2600,"y":480,"wires":[["9a10599cf48823e9"]]},{"id":"577495f95dbed91a","type":"api-call-service","z":"d6dccb299062ba61","name":"set back","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":["bathroom"],"deviceId":[],"entityId":["input_select.radio_station_ba_2"],"data":"{\"option\":$entities(\"input_text.mpdcheck\").state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2700,"y":700,"wires":[[]]},{"id":"80ae48f87a5c47c2","type":"api-current-state","z":"d6dccb299062ba61","name":"wait for script ba off","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.play_radio_ba","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2630,"y":660,"wires":[["577495f95dbed91a"],[]]},{"id":"fa86565c065c9382","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2600,"y":600,"wires":[["80ae48f87a5c47c2"]]},{"id":"35b359fc41506b34","type":"api-current-state","z":"d6dccb299062ba61","name":"Todays showers ok","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$number($entities(\"sensor.people_at_home\").state)","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"counter.showers_done_today","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1210,"y":520,"wires":[["18db199faaa850d9","8f22b191528670e8","a190be8970cfecab","a17b9b5536a58d14","0f19dd3c5ebc9419","406ec994c0fee51a","acceb93ce07604eb"],["51b90770f8f7c48c"]],"info":"$number($entities(\"sensor.people_at_home\").state)"},{"id":"98dee4da77e1e723","type":"debug","z":"d6dccb299062ba61","name":"shower inc","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":760,"wires":[]},{"id":"e09b18393e726fc1","type":"debug","z":"d6dccb299062ba61","name":"light trig low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350,"y":20,"wires":[]},{"id":"2bf28a1f271ebf9d","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":980,"wires":[["c84e7dbf64b8d1e1"]]},{"id":"a17b9b5536a58d14","type":"api-call-service","z":"d6dccb299062ba61","name":"motion on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bath_overide"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2020,"y":440,"wires":[[]]},{"id":"6abd4b842ea9f506","type":"api-call-service","z":"d6dccb299062ba61","name":"motion off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bath_overide"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2060,"y":480,"wires":[[]]},{"id":"97742211293e0196","type":"debug","z":"d6dccb299062ba61","name":"fan on1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":600,"wires":[]},{"id":"7b1ef8e84fe89d83","type":"debug","z":"d6dccb299062ba61","name":"reset toggles off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1760,"y":900,"wires":[]},{"id":"c32ee796550de9b9","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"33","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":1020,"wires":[["07c0195f78cae113","368505d0f5df284d"]]},{"id":"368505d0f5df284d","type":"debug","z":"d6dccb299062ba61","name":"shower on delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":1080,"wires":[]},{"id":"fe6e272280aedc50","type":"debug","z":"d6dccb299062ba61","name":"stop showers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":400,"wires":[]},{"id":"30fbd4648cc89c06","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":640,"wires":[["720b0cb9b58f0b81","79fbadc598ba9001"]]},{"id":"79fbadc598ba9001","type":"debug","z":"d6dccb299062ba61","name":"delay","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":580,"wires":[]},{"id":"7f42c7a31aef7ff1","type":"debug","z":"d6dccb299062ba61","name":"stop radio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":300,"wires":[]},{"id":"70a0df90b97cde3e","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1280,"y":180,"wires":[["6d7b5a798c70cd74"]]},{"id":"b7b272081437349d","type":"change","z":"d6dccb299062ba61","name":"timer start","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":760,"wires":[["e5ac4111783934f9"]]},{"id":"4d5157ede4941947","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":690,"y":1360,"wires":[["8beb725782c34678"]]},{"id":"8ebe860559bcfab2","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":730,"y":1200,"wires":[["286cd5ad158549c2"]]},{"id":"3ad882c0607dae9d","type":"debug","z":"d6dccb299062ba61","name":"After 45 min","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":820,"wires":[]},{"id":"4c87ec2509f3928c","type":"change","z":"d6dccb299062ba61","name":"Bath fan reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["de9630c1c0b8b60c","30fbd4648cc89c06","7e9c3fc4ed2b7ecf","222bb09723a69c5c","1c2c46ce0ed57770","a190be8970cfecab","3bce5f7673e942d9","f5d9551e6b20cb47"]]},{"id":"aeba46f622f9a0f2","type":"server-state-changed","z":"d6dccb299062ba61","name":"Bath fan reset","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.bath_reset","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":330,"y":460,"wires":[["4c87ec2509f3928c","c03eaab9e0fa78a4"]]},{"id":"c03eaab9e0fa78a4","type":"debug","z":"d6dccb299062ba61","name":"Bath reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":540,"wires":[]},{"id":"e5ac4111783934f9","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1820,"y":1120,"wires":[["76ba8f36f4803e13","19843f2c00215f76"]]},{"id":"4628128d1dbca1e2","type":"api-call-service","z":"d6dccb299062ba61","name":"Bulb1BA-med","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["70af5abd105cae66d797c5ae762ecc90"],"entityId":[],"data":"{\"brightness_pct\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2080,"y":20,"wires":[[]]},{"id":"b96b8a06af4be21a","type":"debug","z":"d6dccb299062ba61","name":"BA med","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2300,"y":60,"wires":[]},{"id":"1373c55565e02f3b","type":"debug","z":"d6dccb299062ba61","name":"BA low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2290,"y":140,"wires":[]},{"id":"9645346351ee64ac","type":"switch","z":"d6dccb299062ba61","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":40,"wires":[["4628128d1dbca1e2","b96b8a06af4be21a"],["43f23b2e0707e453","1373c55565e02f3b"]]},{"id":"fa8b8426afdb0bd4","type":"debug","z":"d6dccb299062ba61","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1800,"y":80,"wires":[]},{"id":"0ea56a1c46ca9544","type":"debug","z":"d6dccb299062ba61","name":"sleeping tpl","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"08e6215c3fd6da73","type":"change","z":"d6dccb299062ba61","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":40,"wires":[["078e0ee4361c18bb"]]},{"id":"078e0ee4361c18bb","type":"api-current-state","z":"d6dccb299062ba61","name":"is wake2 running","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.wake2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1530,"y":40,"wires":[["9645346351ee64ac","fa8b8426afdb0bd4"],["9645346351ee64ac","fa8b8426afdb0bd4"]]},{"id":"eb702833c98ed974","type":"delay","z":"d6dccb299062ba61","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1720,"y":640,"wires":[["dafea17badd3fb7a"]]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]