Bed_PIR2.json
[{"id":"67df4e7c.1f7bd","type":"tab","label":"Bed Sense","disabled":false,"info":""},{"id":"522793f7752bde0a","type":"switch","z":"67df4e7c.1f7bd","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":620,"wires":[["6914898eeb6ab220"],["ff9d439339abd6b1"]]},{"id":"5cc549be8bdd51aa","type":"server-state-changed","z":"67df4e7c.1f7bd","name":"BR mo?","server":"498d175b.c26978","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_sense1_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":560,"wires":[["522793f7752bde0a"],["522793f7752bde0a"]]},{"id":"7eccc97b65c41428","type":"inject","z":"67df4e7c.1f7bd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":70,"y":620,"wires":[["522793f7752bde0a"]]},{"id":"9f3f05b67cd96f17","type":"inject","z":"67df4e7c.1f7bd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":70,"y":660,"wires":[["522793f7752bde0a"]]},{"id":"10816925a4210b72","type":"time-range-switch","z":"67df4e7c.1f7bd","name":"Night","lat":"","lon":"","startTime":"20:00","endTime":"06:30","startOffset":0,"endOffset":0,"x":190,"y":120,"wires":[["335fae9c859a695e"],["a29cf95df25e8d89","f6a96d895b7af4ac"]]},{"id":"8a1584fc3f79d530","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Humid high Blue LED on","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed_sense_blue","data":"{\"transition\":\"0\", \"brightness_pct\":\"87\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":780,"wires":[[]]},{"id":"989ae81cbbde6e75","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Humid high Blue LED off","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed_sense_blue","data":"{\"transition\":\"0\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":880,"wires":[[]]},{"id":"faa71208a60e0ca3","type":"api-call-service","z":"67df4e7c.1f7bd","name":"grn LED on","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed_sense_green","data":"{\"transition\":\"0\", \"brightness_pct\":\"60\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":600,"wires":[[]]},{"id":"ff9d439339abd6b1","type":"api-call-service","z":"67df4e7c.1f7bd","name":"grn LED off","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed_sense_green","data":"{\"transition\":\"0\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":660,"wires":[[]]},{"id":"018fdacb6dec88d4","type":"api-call-service","z":"67df4e7c.1f7bd","name":"BR Red LED off","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.bed_sense_red","data":"{\"transition\":\"0\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1100,"wires":[[]]},{"id":"6c637d2c31788f29","type":"api-call-service","z":"67df4e7c.1f7bd","name":"BR Red LED on","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.bed_sense_red","data":"{\"transition\":\"0\", \"brightness_pct\":\"87\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1000,"wires":[[]]},{"id":"6822ebbabb3dae5d","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["d925835bfc2b3ebf"],"x":895,"y":780,"wires":[["c080a4f4794ecfbd","8a1584fc3f79d530"]]},{"id":"a6e83cdf9d0be7bc","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["1fdcf62978d6e70b"],"x":895,"y":880,"wires":[["829ebef072205006","989ae81cbbde6e75"]]},{"id":"c098f323daf43036","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["4f146377d3c4ecc2"],"x":895,"y":1000,"wires":[["6c637d2c31788f29","afccb6c31eb6d9f2"]]},{"id":"7c9dc0d905041b8b","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["769a27121cf365c2"],"x":895,"y":1100,"wires":[["018fdacb6dec88d4","d89b8c8809594a41"]]},{"id":"c080a4f4794ecfbd","type":"debug","z":"67df4e7c.1f7bd","name":"Humid high grn LED on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":740,"wires":[]},{"id":"829ebef072205006","type":"debug","z":"67df4e7c.1f7bd","name":"Humid high grn LED off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":840,"wires":[]},{"id":"afccb6c31eb6d9f2","type":"debug","z":"67df4e7c.1f7bd","name":"BR Red LED on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":960,"wires":[]},{"id":"d89b8c8809594a41","type":"debug","z":"67df4e7c.1f7bd","name":"BR Red LED off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":1060,"wires":[]},{"id":"335fae9c859a695e","type":"trigger","z":"67df4e7c.1f7bd","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":770,"y":140,"wires":[["a29cf95df25e8d89","8ca0348f3c36cb22"]]},{"id":"a29cf95df25e8d89","type":"trigger","z":"67df4e7c.1f7bd","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":770,"y":200,"wires":[["335fae9c859a695e","dd5a0ffcad447a30"]]},{"id":"8ca0348f3c36cb22","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BA-low","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_low","data":"{\"transition\":\"1\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":60,"wires":[["2eb7ead20eeed5cf"]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"dd5a0ffcad447a30","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BA-high","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.bedroom_white","data":"{\"transition\":\"1\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":140,"wires":[["b23247d9caad4337"]]},{"id":"8d3be0a36c1a9bca","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":340,"wires":[["be762dd2fe5ba225"]]},{"id":"234ecb792e28736e","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":460,"wires":[["be762dd2fe5ba225"]]},{"id":"f6a96d895b7af4ac","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2.5","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":520,"wires":[["be762dd2fe5ba225"]]},{"id":"5dc81df8dbc29ec0","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"90","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":400,"wires":[["be762dd2fe5ba225"]]},{"id":"9d4655df1d86e6ce","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-on","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lr_light2","data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":180,"wires":[[]],"info":"Bed room bulb"},{"id":"be762dd2fe5ba225","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-off","server":"498d175b.c26978","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lr_light2","data":"{\"transition\":\"20\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":440,"wires":[["6a9cd565390d027a","a29cf95df25e8d89","335fae9c859a695e"]],"info":"Bed room bulb"},{"id":"6a9cd565390d027a","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":520,"wires":[]},{"id":"2eb7ead20eeed5cf","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1400,"y":60,"wires":[]},{"id":"b23247d9caad4337","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 high","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":140,"wires":[]},{"id":"6914898eeb6ab220","type":"api-current-state","z":"67df4e7c.1f7bd","name":"Bed time?","server":"498d175b.c26978","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.house_sleep_time","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":260,"wires":[["3f03ec132d6fd922"],["f6a96d895b7af4ac","a29cf95df25e8d89","72103a853235771c","faa71208a60e0ca3"]]},{"id":"3f03ec132d6fd922","type":"debug","z":"67df4e7c.1f7bd","name":"Dim","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":200,"wires":[]},{"id":"572a970db11694cb","type":"inject","z":"67df4e7c.1f7bd","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":540,"wires":[["335fae9c859a695e","a29cf95df25e8d89","8d3be0a36c1a9bca","5dc81df8dbc29ec0","234ecb792e28736e","f6a96d895b7af4ac"]]},{"id":"fcbc3d8d44453903","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":580,"wires":[["be762dd2fe5ba225"]]},{"id":"40ed2856420c303c","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["307be90c7dc1ebc7"],"x":275,"y":40,"wires":[["5dc81df8dbc29ec0","8ca0348f3c36cb22"]]},{"id":"72103a853235771c","type":"debug","z":"67df4e7c.1f7bd","name":"Bright","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":320,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]