Bed_PIR38.json
[{"id":"f455f714e6832637","type":"tab","label":"Bed Sense","disabled":false,"info":""},{"id":"a39730b967ff10e4","type":"switch","z":"f455f714e6832637","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["7e672a256d53813f","37d9953190647018"],["9e07ea623c942c58"]]},{"id":"fb31f0020c7ebe76","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":70,"y":320,"wires":[["5137d7273b938a8b"]]},{"id":"df3fc7b60795910c","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":70,"y":360,"wires":[["5137d7273b938a8b"]]},{"id":"926d85793e5b5caf","type":"api-call-service","z":"f455f714e6832637","name":"Humid high Blue LED on","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":780,"wires":[["7ec7fb8d84335898"]],"info":"{\"brightness_pct\":\"40\"}"},{"id":"7903416cc6bba015","type":"api-call-service","z":"f455f714e6832637","name":"Humid high Blue LED off","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":840,"wires":[[]]},{"id":"7e672a256d53813f","type":"api-call-service","z":"f455f714e6832637","name":"grn LED on","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":280,"wires":[[]]},{"id":"9e07ea623c942c58","type":"api-call-service","z":"f455f714e6832637","name":"grn LED off","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":640,"wires":[[]]},{"id":"ea856e520fac4bf1","type":"api-call-service","z":"f455f714e6832637","name":"BR Red LED off","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":940,"wires":[[]]},{"id":"047c210c333b05b3","type":"api-call-service","z":"f455f714e6832637","name":"BR Red LED on","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"brightness_pct\":\"25\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":900,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}"},{"id":"fb99ade464228d28","type":"link in","z":"f455f714e6832637","name":"bedroom blue on","links":["ab6c5d869c42f991"],"x":1015,"y":780,"wires":[["f81732e6221e73c7"]]},{"id":"85ce06800199d505","type":"link in","z":"f455f714e6832637","name":"bedroom blue off","links":["896b32378842f73f"],"x":1015,"y":860,"wires":[["7903416cc6bba015"]]},{"id":"3cb96420934fda15","type":"link in","z":"f455f714e6832637","name":"bedroom red on","links":["cd4dbdc50a16de1c"],"x":955,"y":900,"wires":[["047c210c333b05b3"]]},{"id":"5e7914c61e0c97d9","type":"link in","z":"f455f714e6832637","name":"bedroom red off","links":["e0def9651a2df497"],"x":955,"y":940,"wires":[["ea856e520fac4bf1"]]},{"id":"cd70568caf11e39b","type":"trigger","z":"f455f714e6832637","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":80,"wires":[["14fe573fcea4b334","f6154cbc3dad4ce7"]]},{"id":"14fe573fcea4b334","type":"trigger","z":"f455f714e6832637","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":140,"wires":[["cd70568caf11e39b","506c05343e83dcb9"]]},{"id":"f6154cbc3dad4ce7","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-low","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_low"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":60,"wires":[["224cf81ece575147"]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"848f02a59e13a65a","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-high","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_white"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1520,"y":240,"wires":[["9cc8babccc26024b"]]},{"id":"fced540788812147","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":320,"wires":[["200acf38aa2a6327"]]},{"id":"0469000d7cfa52ee","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":420,"wires":[["200acf38aa2a6327"]]},{"id":"f3720eb88af0134b","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2.5","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":480,"wires":[["200acf38aa2a6327","08d4c15188657627"]]},{"id":"cdbc3493a3b17334","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"90","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":360,"wires":[["200acf38aa2a6327"]]},{"id":"200acf38aa2a6327","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-off-slow","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["234bd3fc09344fdc54e8789a31925306"],"entityId":[],"data":"{\"transition\":\"20\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":420,"wires":[["2a4911f765f0753c","08d4c15188657627"]],"info":"Bed room bulb"},{"id":"2a4911f765f0753c","type":"debug","z":"f455f714e6832637","name":"Bulb2 off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":520,"wires":[]},{"id":"224cf81ece575147","type":"debug","z":"f455f714e6832637","name":"Bulb2 low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":60,"wires":[]},{"id":"9cc8babccc26024b","type":"debug","z":"f455f714e6832637","name":"Bulb2 high","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":180,"wires":[]},{"id":"c3d55e5ee20e0de3","type":"inject","z":"f455f714e6832637","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":250,"y":600,"wires":[["cd70568caf11e39b","14fe573fcea4b334","fced540788812147","cdbc3493a3b17334","0469000d7cfa52ee","f3720eb88af0134b","b28a923c449b090a"]]},{"id":"b28a923c449b090a","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1230,"y":560,"wires":[["200acf38aa2a6327","ad5121077a01c3de","08d4c15188657627"]]},{"id":"17d17d3ec45a1334","type":"link in","z":"f455f714e6832637","name":"Bath light dim","links":["79246871de6c711e"],"x":65,"y":80,"wires":[["f934069a43e53b0f","fa27c0048ca203fc"]]},{"id":"979307476f79e828","type":"debug","z":"f455f714e6832637","name":"can we sleep bottom?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"7ec7fb8d84335898","type":"debug","z":"f455f714e6832637","name":"what comes out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":720,"wires":[]},{"id":"c01e34bb2289bdba","type":"debug","z":"f455f714e6832637","name":"are we sleeping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":660,"wires":[]},{"id":"d1b7c370748f1bb9","type":"debug","z":"f455f714e6832637","name":"of sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"79087ff3624389fb","type":"link in","z":"f455f714e6832637","name":"Bedroom green off","links":["55443f4ca46a9752"],"x":1015,"y":640,"wires":[["9e07ea623c942c58"]]},{"id":"aa2063797a706d36","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["37d9953190647018"]]},{"id":"79af08cf5c3e618e","type":"debug","z":"f455f714e6832637","name":"of sleep bottom","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":220,"wires":[]},{"id":"b143218a3bcecec4","type":"trigger-state","z":"f455f714e6832637","name":"override low on","server":"ee6cbdefc4886d1a","version":4,"inputs":0,"outputs":4,"exposeAsEntityConfig":"","entityId":"input_boolean.low_on","entityIdType":"regex","debugEnabled":false,"constraints":[],"customOutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off","comparatorValueDataType":"str"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on","comparatorValueDataType":"str"}],"outputInitially":true,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":420,"y":40,"wires":[[],[],["68c155d99404a9b2"],["68c155d99404a9b2"]]},{"id":"6e6531af3e36b363","type":"trigger-state","z":"f455f714e6832637","name":"sleep time on","server":"ee6cbdefc4886d1a","version":4,"inputs":1,"outputs":4,"exposeAsEntityConfig":"","entityId":"input_boolean.house_sleep_mode","entityIdType":"regex","debugEnabled":false,"constraints":[],"customOutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off","comparatorValueDataType":"str"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on","comparatorValueDataType":"str"}],"outputInitially":true,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":730,"y":680,"wires":[[],[],["c01e34bb2289bdba","f81732e6221e73c7"],["c01e34bb2289bdba","f81732e6221e73c7","5f201d774e53daeb"]],"info":"input_boolean.sleep_on_off"},{"id":"e1ebb6d5699a44a8","type":"debug","z":"f455f714e6832637","name":"motion allow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":200,"wires":[]},{"id":"8eb38b6bfb5638e2","type":"debug","z":"f455f714e6832637","name":"motion block","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"ac16435e098861f4","type":"debug","z":"f455f714e6832637","name":"can we sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"6227a92b19657e0c","type":"api-current-state","z":"f455f714e6832637","name":"is it dark?","server":"ee6cbdefc4886d1a","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":220,"wires":[["ac16435e098861f4","87424b44ffeecc6b"],["4fb8979df246e906","16fef28e61d0e01e"]],"info":"$entity().attributes.elevation < 3.5"},{"id":"16fef28e61d0e01e","type":"api-current-state","z":"f455f714e6832637","name":"Day light on?","server":"ee6cbdefc4886d1a","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.daytime_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":120,"wires":[["87424b44ffeecc6b"],[]]},{"id":"e4881ef6524c939a","type":"comment","z":"f455f714e6832637","name":"Bed update","info":"Description: This is built for a bedroom throughway to the bathroom construct\n\nBed_PIR16- Changed Blue brightness from 40 to 30\nBed_PIR17- Added Guest on - Is guest override on?\nBed_PIR18- added logic to include BR override from BA\nBed_PIR19- added link from taking shower to high brightness and 10 min off\nBed_PIR20- added traffic to keep light on for 45 mins after shower\nBed_PIR21- Clean up\nBed_PIR22- Correct bulb off still when showering.\nBed_PIR23- Stop blu light when sleeping.\nBed_PIR24- Added Window sensor closed indicator.\nBed_PIR25- Removed sensor sleep time\nBed_PIR26- added Button reset for timers\nBed_PIR27- replaced 'are we sleeping' template w/event state & rerouted lines\nBed_PIR28- Added soft high scene light when it is dark before sleep\n           Changed nodes from old server to new server\n           Repaired \"window sensor sig\" node - no entity\nBed_PIR29- corrected bathroom reset switch node\nBed_PIR30- labeled connectors from bathroom\nBed_PIR31- After updates we had to change the override state node from boolean output to string output. Should have been this all along.\nBed_PIR32- Removed \"is wake running\" replaced with \"random\" - condition \"BR override\" is handled in \"BR light timed 15\"\nBed_PIR33- Added delay for reset after window switch activation\nBed_PIR34- updated reset button with a helper button\nBed_PIR35- Added turn off manual override for resets\nBed_PIR36- removed connection of its on from trafficlight to on-off\nBed_PIR37- changed connection for bathroom motion from 'on-off' to traffic light\nBed_PIR38- added line for reset triggers, added delay for shower 30min timer after reset all other timers","x":70,"y":20,"wires":[]},{"id":"4fb8979df246e906","type":"api-current-state","z":"f455f714e6832637","name":"Guest on?","server":"ee6cbdefc4886d1a","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.touh","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":280,"wires":[["87424b44ffeecc6b"],["979307476f79e828"]]},{"id":"385ec6768209c3d1","type":"trigger-state","z":"f455f714e6832637","name":"BR override on","server":"ee6cbdefc4886d1a","version":4,"inputs":0,"outputs":4,"exposeAsEntityConfig":"","entityId":"input_boolean.br_manual_override","entityIdType":"regex","debugEnabled":false,"constraints":[],"customOutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"off","comparatorValueDataType":"str"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"on","comparatorValueDataType":"str"}],"outputInitially":true,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":80,"y":200,"wires":[["e1ebb6d5699a44a8"],["8eb38b6bfb5638e2"],["5137d7273b938a8b"],["5137d7273b938a8b"]]},{"id":"389510f909dfdc9b","type":"server-state-changed","z":"f455f714e6832637","name":"bed motion1","server":"ee6cbdefc4886d1a","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"binary_sensor.bedroom_sense1_motion","entityIdType":"regex","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":400,"wires":[["5137d7273b938a8b"]]},{"id":"f934069a43e53b0f","type":"debug","z":"f455f714e6832637","name":"BA sense","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":100,"wires":[]},{"id":"fa27c0048ca203fc","type":"change","z":"f455f714e6832637","name":"its on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":260,"wires":[["5137d7273b938a8b"]]},{"id":"62e30f463c015b07","type":"link in","z":"f455f714e6832637","name":"taking shower2","links":["9af925b3cbd32c2b"],"x":455,"y":460,"wires":[["93d6eea41653bf93","14fe573fcea4b334","b28a923c449b090a","cc8d887382b6af80","08d4c15188657627","42a0956915e45556"]]},{"id":"93d6eea41653bf93","type":"debug","z":"f455f714e6832637","name":"bath in?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":400,"wires":[]},{"id":"53bf809cbafccf17","type":"inject","z":"f455f714e6832637","name":"fake temp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"msg","x":800,"y":540,"wires":[["b28a923c449b090a","14fe573fcea4b334","cc8d887382b6af80"]]},{"id":"cc8d887382b6af80","type":"change","z":"f455f714e6832637","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["ad5121077a01c3de"]]},{"id":"08d4c15188657627","type":"change","z":"f455f714e6832637","name":"reset toggles off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":220,"wires":[["14fe573fcea4b334","cd70568caf11e39b"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"d363c04f8d8201f0","type":"comment","z":"f455f714e6832637","name":"true","info":"true comes out after timer ends","x":1210,"y":600,"wires":[]},{"id":"f81732e6221e73c7","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1210,"y":780,"wires":[["926d85793e5b5caf"]]},{"id":"68c155d99404a9b2","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":630,"y":40,"wires":[["e0f8134bf6b86724"]]},{"id":"5137d7273b938a8b","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":250,"y":280,"wires":[["a39730b967ff10e4"]]},{"id":"ad5121077a01c3de","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1110,"y":460,"wires":[["f3720eb88af0134b"]]},{"id":"5f201d774e53daeb","type":"change","z":"f455f714e6832637","name":"stop blu","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":820,"wires":[["7903416cc6bba015"]]},{"id":"1617b8625deb3e42","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":680,"wires":[["6e6531af3e36b363"]]},{"id":"a44456f5da59f279","type":"server-state-changed","z":"f455f714e6832637","name":"window sensor sig","server":"ee6cbdefc4886d1a","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.door_window_sensor_sensor_state_door_window_2","entityIdType":"exact","outputInitially":false,"stateType":"habool","ifState":"false","ifStateType":"bool","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":360,"wires":[["cfc659e56b4a5e67","35ea678720ba4db3","bf23517bd4a39b16"],["cfc659e56b4a5e67"]]},{"id":"cfc659e56b4a5e67","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":260,"y":420,"wires":[["bf23517bd4a39b16","f5524bf74c6905ea"]]},{"id":"35ea678720ba4db3","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":340,"wires":[["506c05343e83dcb9"]]},{"id":"bf23517bd4a39b16","type":"api-call-service","z":"f455f714e6832637","name":"bulb-BR-off","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["234bd3fc09344fdc54e8789a31925306"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":380,"wires":[["08d4c15188657627"]]},{"id":"cf21bb7a876484a7","type":"server-state-changed","z":"f455f714e6832637","name":"Bedroom reset","server":"ee6cbdefc4886d1a","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.reset_bedroom1","entityIdType":"regex","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":560,"wires":[[],["e13c20a6e935a857"]]},{"id":"f3ecc4a24d3a80b8","type":"change","z":"f455f714e6832637","name":"Bedroom reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["cd70568caf11e39b","14fe573fcea4b334","fced540788812147","cdbc3493a3b17334","0469000d7cfa52ee","f3720eb88af0134b","b28a923c449b090a","bf23517bd4a39b16"]]},{"id":"37d9953190647018","type":"api-current-state","z":"f455f714e6832637","name":"Are We Sleeping","server":"ee6cbdefc4886d1a","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_sleep_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":160,"wires":[["68c155d99404a9b2","d1b7c370748f1bb9"],["79af08cf5c3e618e","6227a92b19657e0c"]]},{"id":"506c05343e83dcb9","type":"api-current-state","z":"f455f714e6832637","name":"is it dark?","server":"ee6cbdefc4886d1a","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1300,"y":140,"wires":[["89dbf6b2828913ee"],["848f02a59e13a65a"]],"info":"$entity().attributes.elevation < 3.5"},{"id":"89dbf6b2828913ee","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-high-soft","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.br_soft_high"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":120,"wires":[[]]},{"id":"e0f8134bf6b86724","type":"random","z":"f455f714e6832637","name":"","low":1,"high":10,"inte":"true","property":"payload","x":860,"y":40,"wires":[["cd70568caf11e39b","fced540788812147"]]},{"id":"87424b44ffeecc6b","type":"random","z":"f455f714e6832637","name":"","low":1,"high":10,"inte":"true","property":"payload","x":860,"y":120,"wires":[["14fe573fcea4b334","ad5121077a01c3de"]]},{"id":"f5524bf74c6905ea","type":"delay","z":"f455f714e6832637","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":260,"y":460,"wires":[["e13c20a6e935a857"]]},{"id":"e13c20a6e935a857","type":"api-call-service","z":"f455f714e6832637","name":"override off","server":"ee6cbdefc4886d1a","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.br_manual_override"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":520,"wires":[["f3ecc4a24d3a80b8"]]},{"id":"42a0956915e45556","type":"delay","z":"f455f714e6832637","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":480,"wires":[["b28a923c449b090a"]]},{"id":"ee6cbdefc4886d1a","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]