Bed_PIR20.json
[{"id":"67df4e7c.1f7bd","type":"tab","label":"Bed Sense","disabled":false,"info":""},{"id":"522793f7752bde0a","type":"switch","z":"67df4e7c.1f7bd","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":340,"wires":[["faa71208a60e0ca3","4c3d19b4b3afe080","ce0431b572d3e64a"],["ff9d439339abd6b1","4c3d19b4b3afe080"]]},{"id":"7eccc97b65c41428","type":"inject","z":"67df4e7c.1f7bd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":70,"y":320,"wires":[["bb45ea0223d8bcd0"]]},{"id":"9f3f05b67cd96f17","type":"inject","z":"67df4e7c.1f7bd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":70,"y":360,"wires":[["bb45ea0223d8bcd0"]]},{"id":"8a1584fc3f79d530","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Humid high Blue LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":780,"wires":[["bded126f0190a9cc"]],"info":"{\"brightness_pct\":\"40\"}"},{"id":"989ae81cbbde6e75","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Humid high Blue LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":880,"wires":[[]]},{"id":"faa71208a60e0ca3","type":"api-call-service","z":"67df4e7c.1f7bd","name":"grn LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":260,"wires":[[]]},{"id":"ff9d439339abd6b1","type":"api-call-service","z":"67df4e7c.1f7bd","name":"grn LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":640,"wires":[[]]},{"id":"018fdacb6dec88d4","type":"api-call-service","z":"67df4e7c.1f7bd","name":"BR Red LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1100,"wires":[[]]},{"id":"6c637d2c31788f29","type":"api-call-service","z":"67df4e7c.1f7bd","name":"BR Red LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"brightness_pct\":\"25\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1000,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}"},{"id":"6822ebbabb3dae5d","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["d925835bfc2b3ebf"],"x":1015,"y":780,"wires":[["8cad413262eac937"]]},{"id":"a6e83cdf9d0be7bc","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["1fdcf62978d6e70b"],"x":895,"y":880,"wires":[["989ae81cbbde6e75"]]},{"id":"c098f323daf43036","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["4f146377d3c4ecc2"],"x":895,"y":1000,"wires":[["6c637d2c31788f29"]]},{"id":"7c9dc0d905041b8b","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["769a27121cf365c2"],"x":895,"y":1100,"wires":[["018fdacb6dec88d4"]]},{"id":"335fae9c859a695e","type":"trigger","z":"67df4e7c.1f7bd","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":80,"wires":[["a29cf95df25e8d89","8ca0348f3c36cb22"]]},{"id":"a29cf95df25e8d89","type":"trigger","z":"67df4e7c.1f7bd","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":140,"wires":[["335fae9c859a695e","dd5a0ffcad447a30"]]},{"id":"8ca0348f3c36cb22","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-low","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_low"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":60,"wires":[["2eb7ead20eeed5cf"]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"dd5a0ffcad447a30","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-high","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_white"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":140,"wires":[["b23247d9caad4337"]]},{"id":"8d3be0a36c1a9bca","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":320,"wires":[["be762dd2fe5ba225"]]},{"id":"234ecb792e28736e","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":420,"wires":[["be762dd2fe5ba225"]]},{"id":"f6a96d895b7af4ac","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2.5","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":480,"wires":[["be762dd2fe5ba225","d2398f298b33b9a6"]]},{"id":"5dc81df8dbc29ec0","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"90","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":360,"wires":[["be762dd2fe5ba225"]]},{"id":"9d4655df1d86e6ce","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":200,"wires":[[]],"info":"Bed room bulb"},{"id":"be762dd2fe5ba225","type":"api-call-service","z":"67df4e7c.1f7bd","name":"Bulb2BR-off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"20\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":420,"wires":[["6a9cd565390d027a","a29cf95df25e8d89","335fae9c859a695e"]],"info":"Bed room bulb"},{"id":"6a9cd565390d027a","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":520,"wires":[]},{"id":"2eb7ead20eeed5cf","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":60,"wires":[]},{"id":"b23247d9caad4337","type":"debug","z":"67df4e7c.1f7bd","name":"Bulb2 high","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":140,"wires":[]},{"id":"572a970db11694cb","type":"inject","z":"67df4e7c.1f7bd","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1130,"y":20,"wires":[["335fae9c859a695e","a29cf95df25e8d89","8d3be0a36c1a9bca","5dc81df8dbc29ec0","234ecb792e28736e","f6a96d895b7af4ac","fcbc3d8d44453903"]]},{"id":"fcbc3d8d44453903","type":"trigger","z":"67df4e7c.1f7bd","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":540,"wires":[["be762dd2fe5ba225","1092c97ea236613b","d2398f298b33b9a6"]]},{"id":"40ed2856420c303c","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["307be90c7dc1ebc7"],"x":25,"y":80,"wires":[["d4625718c3eb4015","a16a68a0353cbf06"]]},{"id":"fd3f94213cea0152","type":"api-current-state","z":"67df4e7c.1f7bd","name":"Is wake running","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.wake2","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":60,"wires":[[],["335fae9c859a695e","8d3be0a36c1a9bca"]]},{"id":"61a6db669f54797a","type":"debug","z":"67df4e7c.1f7bd","name":"can we sleep bottom?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"bded126f0190a9cc","type":"debug","z":"67df4e7c.1f7bd","name":"what comes out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":720,"wires":[]},{"id":"7d5216ea852edb92","type":"debug","z":"67df4e7c.1f7bd","name":"are we sleeping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":660,"wires":[]},{"id":"3167ab568dd57585","type":"api-current-state","z":"67df4e7c.1f7bd","name":"Is wake running","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.wake2","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":120,"wires":[[],["a29cf95df25e8d89","1092c97ea236613b"]]},{"id":"3688b11fbdf66a3c","type":"debug","z":"67df4e7c.1f7bd","name":"of sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"b2644189723488de","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["ff4089fe69701bbc"],"x":1015,"y":640,"wires":[["ff9d439339abd6b1"]]},{"id":"0d5f1253e681d862","type":"inject","z":"67df4e7c.1f7bd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["61859e9ec3f00baf"]]},{"id":"08d59b9d1b57149a","type":"debug","z":"67df4e7c.1f7bd","name":"of sleep bottom","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":220,"wires":[]},{"id":"8cad413262eac937","type":"traffic","z":"67df4e7c.1f7bd","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1210,"y":780,"wires":[["8a1584fc3f79d530"]]},{"id":"8b58372d7e06831b","type":"traffic","z":"67df4e7c.1f7bd","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":630,"y":40,"wires":[["fd3f94213cea0152"]]},{"id":"e6bbf485ca14ca06","type":"debug","z":"67df4e7c.1f7bd","name":"test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":680,"wires":[]},{"id":"b26d2a4c3bdde279","type":"debug","z":"67df4e7c.1f7bd","name":"test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":720,"wires":[]},{"id":"0d7cc94d659b88fe","type":"debug","z":"67df4e7c.1f7bd","name":"test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":760,"wires":[]},{"id":"8f6977b6d72a5c06","type":"debug","z":"67df4e7c.1f7bd","name":"test4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":800,"wires":[]},{"id":"67dd23fcb3b9e450","type":"trigger-state","z":"67df4e7c.1f7bd","name":"override low on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.low_on","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":100,"y":700,"wires":[["e6bbf485ca14ca06"],["b26d2a4c3bdde279"],["0d7cc94d659b88fe"],["8f6977b6d72a5c06"]]},{"id":"2d40ddda605857b9","type":"trigger-state","z":"67df4e7c.1f7bd","name":"override low on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.low_on","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":420,"y":40,"wires":[[],[],["8b58372d7e06831b"],["8b58372d7e06831b"]]},{"id":"94f8c7fed2a5c32a","type":"trigger-state","z":"67df4e7c.1f7bd","name":"sleep time on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.house_sleep_mode","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":1030,"y":700,"wires":[[],[],["7d5216ea852edb92","8cad413262eac937"],["7d5216ea852edb92","8cad413262eac937"]],"info":"input_boolean.sleep_on_off"},{"id":"555806b40681a7da","type":"switch","z":"67df4e7c.1f7bd","name":"to be or not to be","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"True","vt":"str"},{"t":"cont","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":160,"wires":[["8b58372d7e06831b","3688b11fbdf66a3c"],["3167ab568dd57585","08d59b9d1b57149a"]]},{"id":"455519a3bda4e934","type":"debug","z":"67df4e7c.1f7bd","name":"motion allow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":540,"wires":[]},{"id":"4c3d19b4b3afe080","type":"debug","z":"67df4e7c.1f7bd","name":"green on-off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"0b7db27194352125","type":"debug","z":"67df4e7c.1f7bd","name":"motion block","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":580,"wires":[]},{"id":"61053257b1d3c3f0","type":"debug","z":"67df4e7c.1f7bd","name":"what2?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"61859e9ec3f00baf","type":"api-render-template","z":"67df4e7c.1f7bd","name":"Are we sleeping?","server":"498d175b.c26978","version":0,"template":"{{ states.input_boolean.house_sleep_mode.state == 'on' or states.binary_sensor.house_sleep_time.state == 'on' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":410,"y":140,"wires":[["555806b40681a7da","61053257b1d3c3f0"]],"info":"{{ states.input_boolean.house_sleep_mode.state == 'on'}}\n\n{{ states.input_boolean.house_sleep_mode.state == 'off' and states.binary_sensor.house_sleep_time.state == 'off' }}"},{"id":"659a62caa49ed7d3","type":"debug","z":"67df4e7c.1f7bd","name":"can we sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"ce0431b572d3e64a","type":"api-current-state","z":"67df4e7c.1f7bd","name":"is it dark?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$entity().attributes.elevation < $number($entities(\"input_number.sun_elevation_var\").state)","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"sun.sun","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":280,"wires":[["61859e9ec3f00baf","659a62caa49ed7d3"],["fb71c32384c34bf3"]],"info":"$entity().attributes.elevation < 3.5"},{"id":"fb71c32384c34bf3","type":"api-current-state","z":"67df4e7c.1f7bd","name":"Day light on?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.daytime_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":220,"wires":[["3167ab568dd57585"],["a84a8d9779f47101"]]},{"id":"2b1795b86c534a1d","type":"comment","z":"67df4e7c.1f7bd","name":"Bed update","info":"Bed_PIR16- Changed Blue brightness from 40 to 30\nBed_PIR17- Added Guest on - Is guest override on?\nBed_PIR18- added logic to include BR override from BA\nBed_PIR19- added link from taking shower to high brightness and 10 min off\nBed_PIR20- added traffic to keep light on for 45 mins after shower","x":70,"y":20,"wires":[]},{"id":"a84a8d9779f47101","type":"api-current-state","z":"67df4e7c.1f7bd","name":"Guest on?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.touh","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":240,"wires":[["3167ab568dd57585"],["61a6db669f54797a"]]},{"id":"adfe844b4bc8c5de","type":"trigger-state","z":"67df4e7c.1f7bd","name":"BR override on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.br_manual_override","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":80,"y":240,"wires":[["455519a3bda4e934"],["0b7db27194352125"],["bb45ea0223d8bcd0"],["bb45ea0223d8bcd0"]]},{"id":"bb45ea0223d8bcd0","type":"traffic","z":"67df4e7c.1f7bd","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":250,"y":280,"wires":[["522793f7752bde0a"]]},{"id":"9ece338bbac0669f","type":"server-state-changed","z":"67df4e7c.1f7bd","name":"bed motion1","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_sense1_motion","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":400,"wires":[["a17fbd444ef88536","bb45ea0223d8bcd0"]]},{"id":"a17fbd444ef88536","type":"debug","z":"67df4e7c.1f7bd","name":"BM1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":480,"wires":[]},{"id":"d4625718c3eb4015","type":"debug","z":"67df4e7c.1f7bd","name":"BA sense","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":100,"wires":[]},{"id":"a16a68a0353cbf06","type":"change","z":"67df4e7c.1f7bd","name":"its on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":180,"wires":[["bb45ea0223d8bcd0"]]},{"id":"5d7b659b06af9f08","type":"link in","z":"67df4e7c.1f7bd","name":"","links":["e69a91e23645d8bb"],"x":675,"y":400,"wires":[["764b892f79e166bd","a29cf95df25e8d89","fcbc3d8d44453903","2e5ae4112ceaf773"]]},{"id":"764b892f79e166bd","type":"debug","z":"67df4e7c.1f7bd","name":"bath in?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":400,"wires":[]},{"id":"1092c97ea236613b","type":"traffic","z":"67df4e7c.1f7bd","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1090,"y":480,"wires":[["f6a96d895b7af4ac"]]},{"id":"0f5f90b0cb2d6e95","type":"inject","z":"67df4e7c.1f7bd","name":"fake temp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"msg","x":800,"y":540,"wires":[["fcbc3d8d44453903","a29cf95df25e8d89","2e5ae4112ceaf773"]]},{"id":"2e5ae4112ceaf773","type":"change","z":"67df4e7c.1f7bd","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["1092c97ea236613b"]]},{"id":"d2398f298b33b9a6","type":"change","z":"67df4e7c.1f7bd","name":"reset toggles off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":200,"wires":[["a29cf95df25e8d89","335fae9c859a695e"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"b9e88c5f2d9a066e","type":"comment","z":"67df4e7c.1f7bd","name":"true","info":"true comes out after timer ends","x":1210,"y":560,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]