Bed_PIR20.json
[{"id":"f455f714e6832637","type":"tab","label":"Bed Sense","disabled":false,"info":""},{"id":"a39730b967ff10e4","type":"switch","z":"f455f714e6832637","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":340,"wires":[["7e672a256d53813f","17355a389ac7aeda","6227a92b19657e0c"],["9e07ea623c942c58","17355a389ac7aeda"]]},{"id":"fb31f0020c7ebe76","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":70,"y":320,"wires":[["5137d7273b938a8b"]]},{"id":"df3fc7b60795910c","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":70,"y":360,"wires":[["5137d7273b938a8b"]]},{"id":"926d85793e5b5caf","type":"api-call-service","z":"f455f714e6832637","name":"Humid high Blue LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"brightness_pct\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":780,"wires":[["7ec7fb8d84335898"]],"info":"{\"brightness_pct\":\"40\"}"},{"id":"7903416cc6bba015","type":"api-call-service","z":"f455f714e6832637","name":"Humid high Blue LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_blue"],"data":"{\"transition\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":880,"wires":[[]]},{"id":"7e672a256d53813f","type":"api-call-service","z":"f455f714e6832637","name":"grn LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":260,"wires":[[]]},{"id":"9e07ea623c942c58","type":"api-call-service","z":"f455f714e6832637","name":"grn LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_green"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":640,"wires":[[]]},{"id":"ea856e520fac4bf1","type":"api-call-service","z":"f455f714e6832637","name":"BR Red LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"transition\":\"0\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1100,"wires":[[]]},{"id":"047c210c333b05b3","type":"api-call-service","z":"f455f714e6832637","name":"BR Red LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bed_sense_red"],"data":"{\"brightness_pct\":\"25\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1000,"wires":[[]],"info":"{\"transition\":\"0\", \"brightness_pct\":\"25\"}"},{"id":"fb99ade464228d28","type":"link in","z":"f455f714e6832637","name":"","links":["f77f1eee4c1c9ef9"],"x":1015,"y":780,"wires":[["f81732e6221e73c7"]]},{"id":"85ce06800199d505","type":"link in","z":"f455f714e6832637","name":"","links":["a4e150550c1624f6"],"x":895,"y":880,"wires":[["7903416cc6bba015"]]},{"id":"3cb96420934fda15","type":"link in","z":"f455f714e6832637","name":"","links":["c09e05c225904964"],"x":895,"y":1000,"wires":[["047c210c333b05b3"]]},{"id":"5e7914c61e0c97d9","type":"link in","z":"f455f714e6832637","name":"","links":["c9935abd7ab48e23"],"x":895,"y":1100,"wires":[["ea856e520fac4bf1"]]},{"id":"cd70568caf11e39b","type":"trigger","z":"f455f714e6832637","name":"Dim","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":80,"wires":[["14fe573fcea4b334","f6154cbc3dad4ce7"]]},{"id":"14fe573fcea4b334","type":"trigger","z":"f455f714e6832637","name":"Bright","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":140,"wires":[["cd70568caf11e39b","848f02a59e13a65a"]]},{"id":"f6154cbc3dad4ce7","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-low","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_low"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":60,"wires":[["224cf81ece575147"]],"info":"{\"transition\":\"0\",\"kelvin\":\"3650\",\"brightness_pct\":\"30\"}\n"},{"id":"848f02a59e13a65a","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-high","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.bedroom_white"],"data":"{\"transition\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":140,"wires":[["9cc8babccc26024b"]]},{"id":"fced540788812147","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":320,"wires":[["200acf38aa2a6327"]]},{"id":"0469000d7cfa52ee","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":420,"wires":[["200acf38aa2a6327"]]},{"id":"f3720eb88af0134b","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"2.5","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":480,"wires":[["200acf38aa2a6327","08d4c15188657627"]]},{"id":"cdbc3493a3b17334","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"90","extend":true,"overrideDelay":false,"units":"s","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1310,"y":360,"wires":[["200acf38aa2a6327"]]},{"id":"3828415a2fce2ee2","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":200,"wires":[[]],"info":"Bed room bulb"},{"id":"200acf38aa2a6327","type":"api-call-service","z":"f455f714e6832637","name":"Bulb2BR-off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.lr_light2"],"data":"{\"transition\":\"20\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":420,"wires":[["2a4911f765f0753c","14fe573fcea4b334","cd70568caf11e39b"]],"info":"Bed room bulb"},{"id":"2a4911f765f0753c","type":"debug","z":"f455f714e6832637","name":"Bulb2 off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":520,"wires":[]},{"id":"224cf81ece575147","type":"debug","z":"f455f714e6832637","name":"Bulb2 low","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":60,"wires":[]},{"id":"9cc8babccc26024b","type":"debug","z":"f455f714e6832637","name":"Bulb2 high","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":140,"wires":[]},{"id":"c3d55e5ee20e0de3","type":"inject","z":"f455f714e6832637","name":"reset","props":[{"p":"payload"},{"p":"reset","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1130,"y":20,"wires":[["cd70568caf11e39b","14fe573fcea4b334","fced540788812147","cdbc3493a3b17334","0469000d7cfa52ee","f3720eb88af0134b","b28a923c449b090a"]]},{"id":"b28a923c449b090a","type":"trigger","z":"f455f714e6832637","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1090,"y":540,"wires":[["200acf38aa2a6327","ad5121077a01c3de","08d4c15188657627"]]},{"id":"17d17d3ec45a1334","type":"link in","z":"f455f714e6832637","name":"","links":["307be90c7dc1ebc7"],"x":25,"y":80,"wires":[["f934069a43e53b0f","fa27c0048ca203fc"]]},{"id":"e904518c0bc75a0d","type":"api-current-state","z":"f455f714e6832637","name":"Is wake running","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.wake2","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":60,"wires":[[],["cd70568caf11e39b","fced540788812147"]]},{"id":"979307476f79e828","type":"debug","z":"f455f714e6832637","name":"can we sleep bottom?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"7ec7fb8d84335898","type":"debug","z":"f455f714e6832637","name":"what comes out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":720,"wires":[]},{"id":"c01e34bb2289bdba","type":"debug","z":"f455f714e6832637","name":"are we sleeping","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":660,"wires":[]},{"id":"6b919dde209b02ee","type":"api-current-state","z":"f455f714e6832637","name":"Is wake running","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"script.wake2","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":120,"wires":[[],["14fe573fcea4b334","ad5121077a01c3de"]]},{"id":"d1b7c370748f1bb9","type":"debug","z":"f455f714e6832637","name":"of sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"79087ff3624389fb","type":"link in","z":"f455f714e6832637","name":"","links":["79d0a815fcc6ca20"],"x":1015,"y":640,"wires":[["9e07ea623c942c58"]]},{"id":"aa2063797a706d36","type":"inject","z":"f455f714e6832637","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":140,"wires":[["b1b08672db002c42"]]},{"id":"79af08cf5c3e618e","type":"debug","z":"f455f714e6832637","name":"of sleep bottom","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":220,"wires":[]},{"id":"f81732e6221e73c7","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":1210,"y":780,"wires":[["926d85793e5b5caf"]]},{"id":"68c155d99404a9b2","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":630,"y":40,"wires":[["e904518c0bc75a0d"]]},{"id":"c491da93249393b8","type":"debug","z":"f455f714e6832637","name":"test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":680,"wires":[]},{"id":"820e121f024b9c31","type":"debug","z":"f455f714e6832637","name":"test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":720,"wires":[]},{"id":"f121490e53be6cbc","type":"debug","z":"f455f714e6832637","name":"test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":760,"wires":[]},{"id":"e7f5635fe23c0db7","type":"debug","z":"f455f714e6832637","name":"test4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":800,"wires":[]},{"id":"c0b162a8af5b9426","type":"trigger-state","z":"f455f714e6832637","name":"override low on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.low_on","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":100,"y":700,"wires":[["c491da93249393b8"],["820e121f024b9c31"],["f121490e53be6cbc"],["e7f5635fe23c0db7"]]},{"id":"b143218a3bcecec4","type":"trigger-state","z":"f455f714e6832637","name":"override low on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.low_on","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":420,"y":40,"wires":[[],[],["68c155d99404a9b2"],["68c155d99404a9b2"]]},{"id":"6e6531af3e36b363","type":"trigger-state","z":"f455f714e6832637","name":"sleep time on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.house_sleep_mode","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":1030,"y":700,"wires":[[],[],["c01e34bb2289bdba","f81732e6221e73c7"],["c01e34bb2289bdba","f81732e6221e73c7"]],"info":"input_boolean.sleep_on_off"},{"id":"14927cb4b2162635","type":"switch","z":"f455f714e6832637","name":"to be or not to be","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"True","vt":"str"},{"t":"cont","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":160,"wires":[["68c155d99404a9b2","d1b7c370748f1bb9"],["6b919dde209b02ee","79af08cf5c3e618e"]]},{"id":"e1ebb6d5699a44a8","type":"debug","z":"f455f714e6832637","name":"motion allow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":540,"wires":[]},{"id":"17355a389ac7aeda","type":"debug","z":"f455f714e6832637","name":"green on-off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"8eb38b6bfb5638e2","type":"debug","z":"f455f714e6832637","name":"motion block","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":580,"wires":[]},{"id":"0abddfb0e975a7f2","type":"debug","z":"f455f714e6832637","name":"what2?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"b1b08672db002c42","type":"api-render-template","z":"f455f714e6832637","name":"Are we sleeping?","server":"498d175b.c26978","version":0,"template":"{{ states.input_boolean.house_sleep_mode.state == 'on' or states.binary_sensor.house_sleep_time.state == 'on' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":410,"y":140,"wires":[["14927cb4b2162635","0abddfb0e975a7f2"]],"info":"{{ states.input_boolean.house_sleep_mode.state == 'on'}}\n\n{{ states.input_boolean.house_sleep_mode.state == 'off' and states.binary_sensor.house_sleep_time.state == 'off' }}"},{"id":"ac16435e098861f4","type":"debug","z":"f455f714e6832637","name":"can we sleep top","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":260,"wires":[]},{"id":"6227a92b19657e0c","type":"api-current-state","z":"f455f714e6832637","name":"is it dark?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"$entity().attributes.elevation < $number($entities(\"input_number.sun_elevation_var\").state)","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"sun.sun","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"date"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":280,"wires":[["b1b08672db002c42","ac16435e098861f4"],["16fef28e61d0e01e"]],"info":"$entity().attributes.elevation < 3.5"},{"id":"16fef28e61d0e01e","type":"api-current-state","z":"f455f714e6832637","name":"Day light on?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.daytime_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":220,"wires":[["6b919dde209b02ee"],["4fb8979df246e906"]]},{"id":"e4881ef6524c939a","type":"comment","z":"f455f714e6832637","name":"Bed update","info":"Bed_PIR16- Changed Blue brightness from 40 to 30\nBed_PIR17- Added Guest on - Is guest override on?\nBed_PIR18- added logic to include BR override from BA\nBed_PIR19- added link from taking shower to high brightness and 10 min off\nBed_PIR20- added traffic to keep light on for 45 mins after shower","x":70,"y":20,"wires":[]},{"id":"4fb8979df246e906","type":"api-current-state","z":"f455f714e6832637","name":"Guest on?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.touh","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":240,"wires":[["6b919dde209b02ee"],["979307476f79e828"]]},{"id":"385ec6768209c3d1","type":"trigger-state","z":"f455f714e6832637","name":"BR override on","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.br_manual_override","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":80,"y":240,"wires":[["e1ebb6d5699a44a8"],["8eb38b6bfb5638e2"],["5137d7273b938a8b"],["5137d7273b938a8b"]]},{"id":"5137d7273b938a8b","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":250,"y":280,"wires":[["a39730b967ff10e4"]]},{"id":"389510f909dfdc9b","type":"server-state-changed","z":"f455f714e6832637","name":"bed motion1","server":"498d175b.c26978","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_sense1_motion","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":400,"wires":[["06b7b47e7d1d9b5f","5137d7273b938a8b"]]},{"id":"06b7b47e7d1d9b5f","type":"debug","z":"f455f714e6832637","name":"BM1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":480,"wires":[]},{"id":"f934069a43e53b0f","type":"debug","z":"f455f714e6832637","name":"BA sense","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":100,"wires":[]},{"id":"fa27c0048ca203fc","type":"change","z":"f455f714e6832637","name":"its on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":180,"wires":[["5137d7273b938a8b"]]},{"id":"62e30f463c015b07","type":"link in","z":"f455f714e6832637","name":"","links":["18f70867b0a6840a"],"x":675,"y":400,"wires":[["93d6eea41653bf93","14fe573fcea4b334","b28a923c449b090a","cc8d887382b6af80"]]},{"id":"93d6eea41653bf93","type":"debug","z":"f455f714e6832637","name":"bath in?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":400,"wires":[]},{"id":"ad5121077a01c3de","type":"traffic","z":"f455f714e6832637","name":"","property_allow":"payload","filter_allow":"true","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1090,"y":480,"wires":[["f3720eb88af0134b"]]},{"id":"53bf809cbafccf17","type":"inject","z":"f455f714e6832637","name":"fake temp","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"msg","x":800,"y":540,"wires":[["b28a923c449b090a","14fe573fcea4b334","cc8d887382b6af80"]]},{"id":"cc8d887382b6af80","type":"change","z":"f455f714e6832637","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":440,"wires":[["ad5121077a01c3de"]]},{"id":"08d4c15188657627","type":"change","z":"f455f714e6832637","name":"reset toggles off","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":200,"wires":[["14fe573fcea4b334","cd70568caf11e39b"]],"info":"Look for binary false make it true\nLook for string false make it true\nCan use msg: reset = timestamp\notherwize it true send out"},{"id":"d363c04f8d8201f0","type":"comment","z":"f455f714e6832637","name":"true","info":"true comes out after timer ends","x":1210,"y":560,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]