nodered-winter-summer.json
[{"id":"a373736a.fe5bf","type":"tab","label":"Winter-summer electric","disabled":false,"info":""},{"id":"2ff1a555.3773aa","type":"bigtimer","z":"a373736a.fe5bf","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-winter","comment":"peak time off - winter","lat":"32.26","lon":"-110.96","starttime":"1275","endtime":"345","starttime2":"555","endtime2":"1065","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":"0","xd2":"0","xw2":"0","xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":320,"y":280,"wires":[["8ce0431b.ca481","f1a53b0d.666e58"],[],[]]},{"id":"a322957d.8805c8","type":"api-call-service","z":"a373736a.fe5bf","name":"peak time off - components","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"script","service":"peak_time_off_componants","entityId":"script.peak_time_off_componants","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":460,"wires":[["95416201.19bea"]]},{"id":"f44b288e.babe68","type":"api-call-service","z":"a373736a.fe5bf","name":"peak time on - components","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"script","service":"1618887471408","entityId":"script.1618887471408","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":360,"wires":[["95416201.19bea"]]},{"id":"8ce0431b.ca481","type":"switch","z":"a373736a.fe5bf","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["f44b288e.babe68"],["a322957d.8805c8"]]},{"id":"6bc20534.7a404c","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":310,"y":380,"wires":[["8ce0431b.ca481"]]},{"id":"d191ceb5.56952","type":"inject","z":"a373736a.fe5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":310,"y":420,"wires":[["8ce0431b.ca481"]]},{"id":"ee7f0256.9c038","type":"bigtimer","z":"a373736a.fe5bf","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-summer","comment":"peak time off - summer","lat":"32.26","lon":"-110.96","starttime":"1155","endtime":"885","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":"0","xmonth6":"0","xday7":"0","xmonth7":"0","xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":0,"xd2":"0","xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":330,"y":560,"wires":[["8ce0431b.ca481","cb1f7b83.43f9a8"],[],[]]},{"id":"6f79f5f6.871f5c","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":220,"wires":[["2ff1a555.3773aa"]]},{"id":"c09d3458.1e0ec8","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":260,"wires":[["2ff1a555.3773aa"]]},{"id":"d3a82b59.99d238","type":"inject","z":"a373736a.fe5bf","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":110,"y":320,"wires":[["2ff1a555.3773aa"]]},{"id":"bd5b3ff5.652c7","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn on summer led","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.summer_on","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":580,"wires":[[]]},{"id":"a7b6c569.9e01f8","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn on winter  led","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.winter_on","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":200,"wires":[[]]},{"id":"cb1f7b83.43f9a8","type":"switch","z":"a373736a.fe5bf","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":600,"wires":[["bd5b3ff5.652c7"],["c5e31c66.25012"]]},{"id":"f1a53b0d.666e58","type":"switch","z":"a373736a.fe5bf","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["a7b6c569.9e01f8"],["6dbcd92c.e91c68"]]},{"id":"6dbcd92c.e91c68","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn off winter  led","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.winter_on","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":260,"wires":[[]]},{"id":"c5e31c66.25012","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn off summer led","server":"498d175b.c26978","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.summer_on","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":640,"wires":[[]]},{"id":"c722b5fa.2c85f8","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":460,"wires":[["ee7f0256.9c038"]]},{"id":"a711f7c9.0f5758","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":500,"wires":[["ee7f0256.9c038"]]},{"id":"43d36c48.7c6914","type":"inject","z":"a373736a.fe5bf","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":110,"y":560,"wires":[["ee7f0256.9c038"]]},{"id":"6bfe480d.e3edc8","type":"debug","z":"a373736a.fe5bf","name":"output peak","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":200,"wires":[]},{"id":"95416201.19bea","type":"switch","z":"a373736a.fe5bf","name":"on-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":380,"wires":[["6bfe480d.e3edc8"],["6bfe480d.e3edc8"]]},{"id":"43d19c13.fd8844","type":"api-current-state","z":"a373736a.fe5bf","name":"Last state of winter","server":"498d175b.c26978","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.winter_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":220,"wires":[["8ce0431b.ca481","fbe8a594.7d9c28"]]},{"id":"847f1328.b22c2","type":"api-current-state","z":"a373736a.fe5bf","name":"Last state of summer","server":"498d175b.c26978","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.summer_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":480,"wires":[["8ce0431b.ca481","ee5b98ea.e4a4d8"]]},{"id":"fbe8a594.7d9c28","type":"debug","z":"a373736a.fe5bf","name":"LS winter","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":120,"wires":[]},{"id":"ee5b98ea.e4a4d8","type":"debug","z":"a373736a.fe5bf","name":"LS summer","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]