nodered-winter-summer.json
[{"id":"a373736a.fe5bf","type":"tab","label":"Winter-summer electric","disabled":false,"info":""},{"id":"8ce0431b.ca481","type":"switch","z":"a373736a.fe5bf","name":"on-off componants","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":380,"wires":[["9da8b605507ea8c7"],["1b1f5a5b.9073f6"]]},{"id":"6f79f5f6.871f5c","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":220,"wires":[["2ff1a555.3773aa"]]},{"id":"c09d3458.1e0ec8","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":260,"wires":[["2ff1a555.3773aa"]]},{"id":"d3a82b59.99d238","type":"inject","z":"a373736a.fe5bf","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":130,"y":320,"wires":[["2ff1a555.3773aa"]]},{"id":"f1a53b0d.666e58","type":"switch","z":"a373736a.fe5bf","name":"on-off winter LED","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":200,"wires":[["ada3a252c82cf267","0afa69278917ab62"],["ada3a252c82cf267","b7c1bf81eadeb724"]]},{"id":"c722b5fa.2c85f8","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":460,"wires":[["ee7f0256.9c038"]]},{"id":"a711f7c9.0f5758","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":500,"wires":[["ee7f0256.9c038"]]},{"id":"43d36c48.7c6914","type":"inject","z":"a373736a.fe5bf","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":130,"y":560,"wires":[["ee7f0256.9c038"]]},{"id":"1b1f5a5b.9073f6","type":"api-call-service","z":"a373736a.fe5bf","name":"Peak time off stuff","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"script","service":"peak_time_off_components","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":420,"wires":[[]]},{"id":"2e083f41.9fe8b","type":"switch","z":"a373736a.fe5bf","name":"on-off summer LED","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":580,"wires":[["fca3fe41.9e17e"],["52b1f03.613441"]]},{"id":"fca3fe41.9e17e","type":"api-call-service","z":"a373736a.fe5bf","name":"Summer LED on","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.summer_on_2"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":540,"wires":[["8a167219e8a89463","02d650c4c5949fac"]],"info":"Turns summer LED on and BS summer on"},{"id":"66acee262f8a2b6e","type":"trigger","z":"a373736a.fe5bf","name":"BTW-on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":700,"y":360,"wires":[["4d5c97921742eb45","5f2875897730e1d0"]]},{"id":"4d5c97921742eb45","type":"trigger","z":"a373736a.fe5bf","name":"BTS-on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":740,"y":400,"wires":[["66acee262f8a2b6e","ec62c53c0c48319c"]]},{"id":"e8e4dfcdaa21ac25","type":"inject","z":"a373736a.fe5bf","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":380,"wires":[["66acee262f8a2b6e","4d5c97921742eb45"]]},{"id":"5f2875897730e1d0","type":"change","z":"a373736a.fe5bf","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["38a16ae5329c9889"]]},{"id":"ec62c53c0c48319c","type":"change","z":"a373736a.fe5bf","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["cf968ea0c5f19e8c"]]},{"id":"38a16ae5329c9889","type":"delay","z":"a373736a.fe5bf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":520,"wires":[["2e083f41.9fe8b"]]},{"id":"cf968ea0c5f19e8c","type":"delay","z":"a373736a.fe5bf","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":978,"y":249,"wires":[["f1a53b0d.666e58"]]},{"id":"52b1f03.613441","type":"api-call-service","z":"a373736a.fe5bf","name":"Summer LED off","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.summer_on_2"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":620,"wires":[[]]},{"id":"68a1b21a28259c55","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":830,"y":620,"wires":[["38a16ae5329c9889"]]},{"id":"27af1b6f7bd42305","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":830,"y":660,"wires":[["38a16ae5329c9889"]]},{"id":"8a167219e8a89463","type":"api-call-service","z":"a373736a.fe5bf","name":"Its summer","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"input_boolean","service":"turn_on","target":{"entityId":["input_boolean.its_summer"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1490,"y":580,"wires":[[]]},{"id":"37f0e5f4843c4bf3","type":"api-call-service","z":"a373736a.fe5bf","name":"Not summer","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"input_boolean","service":"turn_off","target":{"entityId":["input_boolean.its_summer"],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":200,"wires":[[]]},{"id":"02d650c4c5949fac","type":"debug","z":"a373736a.fe5bf","name":"Its summer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1490,"y":520,"wires":[]},{"id":"739d4f860d212611","type":"debug","z":"a373736a.fe5bf","name":"Not summer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":140,"wires":[]},{"id":"b14d67ff3187e93a","type":"inject","z":"a373736a.fe5bf","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":830,"y":140,"wires":[["cf968ea0c5f19e8c"]]},{"id":"e32b4215856b5839","type":"inject","z":"a373736a.fe5bf","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":830,"y":180,"wires":[["cf968ea0c5f19e8c"]]},{"id":"ada3a252c82cf267","type":"debug","z":"a373736a.fe5bf","name":"winter off/on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":120,"wires":[]},{"id":"b7c1bf81eadeb724","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn off winter  led","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_off","target":{"entityId":["light.winter_on_2"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"2\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":240,"wires":[["37f0e5f4843c4bf3"]]},{"id":"0afa69278917ab62","type":"api-call-service","z":"a373736a.fe5bf","name":"Turn on winter LED","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"light","service":"turn_on","target":{"entityId":["light.winter_on_2"],"areaId":[],"deviceId":[]},"data":"{\"transition\":\"5\", \"brightness_pct\":\"45\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":140,"wires":[["739d4f860d212611"]]},{"id":"9da8b605507ea8c7","type":"api-call-service","z":"a373736a.fe5bf","name":"Peak time on stuff","server":"498d175b.c26978","version":4,"debugenabled":false,"domain":"script","service":"peak_time_on_components","target":{"entityId":[],"areaId":[],"deviceId":[]},"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":360,"wires":[[]]},{"id":"0dc52ff1ce86a6e2","type":"debug","z":"a373736a.fe5bf","name":"winter out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"0ed77f50d1bdc97a","type":"debug","z":"a373736a.fe5bf","name":"always sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"427b8781c7f7843b","type":"debug","z":"a373736a.fe5bf","name":"winter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"ccfd9786e954de1f","type":"trigger-state","z":"a373736a.fe5bf","name":"Guest override winter","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.touh","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":540,"y":180,"wires":[[],[],["854287201ad7620c"],["0dc52ff1ce86a6e2","854287201ad7620c"]]},{"id":"854287201ad7620c","type":"traffic","z":"a373736a.fe5bf","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":550,"y":260,"wires":[["f1a53b0d.666e58","8ce0431b.ca481","66acee262f8a2b6e","0ed77f50d1bdc97a"]]},{"id":"6a73952c8d20b0f9","type":"trigger-state","z":"a373736a.fe5bf","name":"Guest override summer","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.touh","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":520,"y":440,"wires":[[],[],["163eb95af0942411"],["163eb95af0942411"]]},{"id":"163eb95af0942411","type":"traffic","z":"a373736a.fe5bf","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":530,"y":520,"wires":[["8ce0431b.ca481","4d5c97921742eb45","2e083f41.9fe8b"]]},{"id":"b93125f3a4206ff1","type":"comment","z":"a373736a.fe5bf","name":"update winsum","info":"01/30/2022 - nodered-winter-summer9\nadded HA starts to trigger LEDS and on peak times","x":85,"y":20,"wires":[]},{"id":"8be8021371cf13f2","type":"debug","z":"a373736a.fe5bf","name":"Summer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":600,"wires":[]},{"id":"6c6fd84134e21646","type":"debug","z":"a373736a.fe5bf","name":"win min","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"1e8dcf0f8170fc5d","type":"debug","z":"a373736a.fe5bf","name":"sum min","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":640,"wires":[]},{"id":"ee7f0256.9c038","type":"bigtimer","z":"a373736a.fe5bf","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-summer","comment":"peak time off - summer","lat":"32.26","lon":"-110.96","starttime":"1155","endtime":"885","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":"0","xmonth6":"0","xday7":"0","xmonth7":"0","xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":0,"xd2":"0","xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":310,"y":500,"wires":[["163eb95af0942411","8be8021371cf13f2"],["1e8dcf0f8170fc5d"],[]]},{"id":"2ff1a555.3773aa","type":"bigtimer","z":"a373736a.fe5bf","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-winter","comment":"peak time off - winter","lat":"32.26","lon":"-110.96","starttime":"1275","endtime":"345","starttime2":"555","endtime2":"1065","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":"0","xd2":"0","xw2":"0","xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":320,"y":280,"wires":[["427b8781c7f7843b","854287201ad7620c"],["6c6fd84134e21646"],[]]},{"id":"b66320a5.f8586","type":"server-events","z":"a373736a.fe5bf","name":"HA starts","server":"498d175b.c26978","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":360,"wires":[["0ecaf2f880133082"]]},{"id":"0ecaf2f880133082","type":"api-current-state","z":"a373736a.fe5bf","name":"Weekend?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":360,"wires":[["909f303e6d69551c"],[]]},{"id":"909f303e6d69551c","type":"api-current-state","z":"a373736a.fe5bf","name":"summer?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":400,"wires":[["854287201ad7620c"],["163eb95af0942411"]]},{"id":"7decbc09ddc81a78","type":"inject","z":"a373736a.fe5bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":420,"wires":[["0ecaf2f880133082"]]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
