nodered-winter-summer13.json
[{"id":"16cfc6f8f492f1b8","type":"tab","label":"Winter-summer electric","disabled":false,"info":""},{"id":"4f3cb413b9d355ed","type":"switch","z":"16cfc6f8f492f1b8","name":"on-off componants","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":380,"wires":[["6f9d7afe3ccfeca5"],["336f57c2cea02ead"]]},{"id":"bab5c9f4c3ee8069","type":"inject","z":"16cfc6f8f492f1b8","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":220,"wires":[["5cfb362ac6f8c0b0"]]},{"id":"50ce1185f93cce88","type":"inject","z":"16cfc6f8f492f1b8","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":260,"wires":[["5cfb362ac6f8c0b0"]]},{"id":"48be16ac61d89e7e","type":"inject","z":"16cfc6f8f492f1b8","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":130,"y":320,"wires":[["5cfb362ac6f8c0b0"]]},{"id":"53c4c6e0dbc2d9d0","type":"switch","z":"16cfc6f8f492f1b8","name":"on-off winter LED","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":200,"wires":[["350faad9a659a308","10540a3407ea0ada"],["350faad9a659a308","e483926aaa341736"]]},{"id":"aeb9dd82212798e4","type":"inject","z":"16cfc6f8f492f1b8","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":460,"wires":[["22a556e0a12826c8"]]},{"id":"dd2197427dd070ee","type":"inject","z":"16cfc6f8f492f1b8","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":500,"wires":[["22a556e0a12826c8"]]},{"id":"813fdc01defbb8c8","type":"inject","z":"16cfc6f8f492f1b8","name":"auto","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":130,"y":560,"wires":[["22a556e0a12826c8"]]},{"id":"465a3f691ebb373d","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Peak time off stuff","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"peak_time_off_components","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":420,"wires":[[]]},{"id":"4e2e30d26499a84b","type":"switch","z":"16cfc6f8f492f1b8","name":"on-off summer LED","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":580,"wires":[["b472602f618231bd"],["120b16e97ee3f89e"]]},{"id":"b472602f618231bd","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Summer LED on","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.summer_on_2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"98\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":540,"wires":[["78bb68a9d94bcdd1"]],"info":"Turns summer LED on and BS summer on"},{"id":"82d7279fbc6a5698","type":"trigger","z":"16cfc6f8f492f1b8","name":"BTW-on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":700,"y":360,"wires":[["4ed9113a780c9e53","d3058998d1cad202"]]},{"id":"4ed9113a780c9e53","type":"trigger","z":"16cfc6f8f492f1b8","name":"BTS-on","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":740,"y":400,"wires":[["82d7279fbc6a5698","bd07781a8c8060f4"]]},{"id":"bc9ab4b3292beac0","type":"inject","z":"16cfc6f8f492f1b8","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":530,"y":380,"wires":[["82d7279fbc6a5698","4ed9113a780c9e53"]]},{"id":"d3058998d1cad202","type":"change","z":"16cfc6f8f492f1b8","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":480,"wires":[["36c968882f2726a3"]]},{"id":"bd07781a8c8060f4","type":"change","z":"16cfc6f8f492f1b8","name":"change","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["504c192c8fa302b4"]]},{"id":"36c968882f2726a3","type":"delay","z":"16cfc6f8f492f1b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":520,"wires":[["4e2e30d26499a84b"]]},{"id":"504c192c8fa302b4","type":"delay","z":"16cfc6f8f492f1b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":978,"y":249,"wires":[["53c4c6e0dbc2d9d0"]]},{"id":"75cf2414664bed0c","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Summer LED off","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.summer_on_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":620,"wires":[[]]},{"id":"5893c01cd7bd871e","type":"inject","z":"16cfc6f8f492f1b8","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":770,"y":620,"wires":[["36c968882f2726a3"]]},{"id":"88faefc03b88d156","type":"inject","z":"16cfc6f8f492f1b8","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":770,"y":660,"wires":[["36c968882f2726a3"]]},{"id":"97a46f833c075f47","type":"inject","z":"16cfc6f8f492f1b8","name":"on","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":830,"y":140,"wires":[["504c192c8fa302b4"]]},{"id":"ebbf755793d09cb6","type":"inject","z":"16cfc6f8f492f1b8","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":830,"y":180,"wires":[["504c192c8fa302b4"]]},{"id":"350faad9a659a308","type":"debug","z":"16cfc6f8f492f1b8","name":"winter off/on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":120,"wires":[]},{"id":"2f934aa71eeb94c8","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Turn off winter  led","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.winter_on_2"],"data":"{\"transition\":\"2\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":240,"wires":[[]]},{"id":"10540a3407ea0ada","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Turn on winter LED","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.winter_on_2"],"data":"{\"transition\":\"5\", \"brightness_pct\":\"45\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":140,"wires":[["8ffb30a2b3ddbee0"]]},{"id":"6f9d7afe3ccfeca5","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Peak time on stuff","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"script","service":"peak_time_on_components","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":360,"wires":[[]]},{"id":"3015db65091dc59f","type":"debug","z":"16cfc6f8f492f1b8","name":"winter out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"b1fab1e5ce15fdaa","type":"debug","z":"16cfc6f8f492f1b8","name":"always sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"28c5bc39971aae35","type":"debug","z":"16cfc6f8f492f1b8","name":"winter","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"f2649c63fc26c262","type":"traffic","z":"16cfc6f8f492f1b8","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":590,"y":260,"wires":[["53c4c6e0dbc2d9d0","4f3cb413b9d355ed","82d7279fbc6a5698","b1fab1e5ce15fdaa"]]},{"id":"5af1c87dfca90c9e","type":"traffic","z":"16cfc6f8f492f1b8","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":590,"y":500,"wires":[["4f3cb413b9d355ed","4ed9113a780c9e53","4e2e30d26499a84b"]]},{"id":"96f40862c174ffea","type":"comment","z":"16cfc6f8f492f1b8","name":"update winsum","info":"01/30/2022 - nodered-winter-summer9\nadded HA starts to trigger LEDS and on peak times\n05/06/2022 - nodered-winter-summer12\nchanged traficlight to off items only\n05/29/2022 - corrected its summer off when winter is off, should be off when winter is on.","x":85,"y":20,"wires":[]},{"id":"3f354d6ee61fdc23","type":"debug","z":"16cfc6f8f492f1b8","name":"Summer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":600,"wires":[]},{"id":"70150c17cb83be8a","type":"debug","z":"16cfc6f8f492f1b8","name":"win min","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"fdc1270bad37d681","type":"debug","z":"16cfc6f8f492f1b8","name":"sum min","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":640,"wires":[]},{"id":"22a556e0a12826c8","type":"bigtimer","z":"16cfc6f8f492f1b8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-summer","comment":"peak time off - summer","lat":"32.26","lon":"-110.96","starttime":"1155","endtime":"885","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":"0","xmonth6":"0","xday7":"0","xmonth7":"0","xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":0,"xd2":"0","xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":310,"y":500,"wires":[["5af1c87dfca90c9e","3f354d6ee61fdc23"],["fdc1270bad37d681"],[]]},{"id":"5cfb362ac6f8c0b0","type":"bigtimer","z":"16cfc6f8f492f1b8","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer-winter","comment":"peak time off - winter","lat":"32.26","lon":"-110.96","starttime":"1275","endtime":"345","starttime2":"555","endtime2":"1065","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":"0","outtext1":"on","outtext2":"off","timeout":"0","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":"0","xmonth1":"0","xday2":"0","xmonth2":"0","xday3":"0","xmonth3":"0","xday4":"0","xmonth4":"0","xday5":"0","xmonth5":"0","xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":"0","xw1":"0","xd2":"0","xw2":"0","xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":320,"y":280,"wires":[["28c5bc39971aae35","f2649c63fc26c262"],["70150c17cb83be8a"],[]]},{"id":"f0c8894af5c27201","type":"server-events","z":"16cfc6f8f492f1b8","name":"HA starts","server":"498d175b.c26978","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":360,"wires":[["fa1fda196fb82576"]]},{"id":"fa1fda196fb82576","type":"api-current-state","z":"16cfc6f8f492f1b8","name":"Weekend?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.workday_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":360,"wires":[["06964a761aadacce"],[]]},{"id":"06964a761aadacce","type":"api-current-state","z":"16cfc6f8f492f1b8","name":"summer?","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.its_summer","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"on","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":400,"wires":[["f2649c63fc26c262"],["5af1c87dfca90c9e"]]},{"id":"f5e21cc84742a2d3","type":"inject","z":"16cfc6f8f492f1b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":420,"wires":[["fa1fda196fb82576"]]},{"id":"78bb68a9d94bcdd1","type":"api-current-state","z":"16cfc6f8f492f1b8","name":"on man 1","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.season_manual","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1640,"y":480,"wires":[["58fb9ce2f8de3c82","112ee0bd38329695"],[]]},{"id":"58fb9ce2f8de3c82","type":"debug","z":"16cfc6f8f492f1b8","name":"man on 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1800,"y":600,"wires":[]},{"id":"8ffb30a2b3ddbee0","type":"api-current-state","z":"16cfc6f8f492f1b8","name":"on man 2","server":"498d175b.c26978","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.season_manual","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1620,"y":180,"wires":[["a7a2a4a8cf7227a2","77a0fae861a106f4"],[]]},{"id":"a7a2a4a8cf7227a2","type":"debug","z":"16cfc6f8f492f1b8","name":"man on 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1780,"y":280,"wires":[]},{"id":"77a0fae861a106f4","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Not Summer","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.its_summer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1820,"y":180,"wires":[[]]},{"id":"112ee0bd38329695","type":"api-call-service","z":"16cfc6f8f492f1b8","name":"Its summer","server":"498d175b.c26978","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.its_summer"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1810,"y":520,"wires":[[]]},{"id":"120b16e97ee3f89e","type":"traffic","z":"16cfc6f8f492f1b8","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1270,"y":600,"wires":[["75cf2414664bed0c"]]},{"id":"336f57c2cea02ead","type":"traffic","z":"16cfc6f8f492f1b8","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1270,"y":400,"wires":[["465a3f691ebb373d"]]},{"id":"e483926aaa341736","type":"traffic","z":"16cfc6f8f492f1b8","name":"","property_allow":"payload","filter_allow":"Go","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":1270,"y":220,"wires":[["2f934aa71eeb94c8"]]},{"id":"bac628066efd48f7","type":"trigger-state","z":"16cfc6f8f492f1b8","name":"Guest override winter","server":"498d175b.c26978","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.touh","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"inputs":0,"outputs":4,"customoutputs":[{"messageType":"payload","messageValue":"Go","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"false","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"},{"messageType":"payload","messageValue":"stop","messageValueType":"str","comparatorPropertyType":"current_state","comparatorType":"is","comparatorValue":"true","comparatorValueDataType":"bool","comparatorPropertyValue":"new_state.state"}],"outputinitially":true,"state_type":"habool","enableInput":false,"x":1220,"y":300,"wires":[[],[],["e483926aaa341736","336f57c2cea02ead","120b16e97ee3f89e"],["e483926aaa341736","336f57c2cea02ead","120b16e97ee3f89e"]]},{"id":"498d175b.c26978","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]