nodered-audiocast.json
[{"id":"4c8e9898.239c88","type":"tab","label":"Audiocast","disabled":true,"info":""},{"id":"a21f1807.41d7f8","type":"cast-to-client","z":"4c8e9898.239c88","name":"","url":"","contentType":"","message":"to be or not to be","language":"en","ip":"192.168.0.40","port":"","volume":"","x":590,"y":120,"wires":[["fba1eb3.2515918"]]},{"id":"74313baf.f282f4","type":"inject","z":"4c8e9898.239c88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["53d91dd8.67b924"]]},{"id":"53d91dd8.67b924","type":"change","z":"4c8e9898.239c88","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.0.40","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&textlen=32&client=tw-ob&q=Word%20Up&tl=En-gb","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"audio/mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["a21f1807.41d7f8"]]},{"id":"fba1eb3.2515918","type":"debug","z":"4c8e9898.239c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":120,"wires":[]},{"id":"9ef34079.24061","type":"comment","z":"4c8e9898.239c88","name":"stream a url","info":"","x":90,"y":80,"wires":[]},{"id":"8d9663a.05e27a","type":"cast-to-client","z":"4c8e9898.239c88","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"8819","volume":"","x":550,"y":320,"wires":[["b885e401.447548"]]},{"id":"6faf449b.c11efc","type":"inject","z":"4c8e9898.239c88","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":320,"wires":[["23bdf480.46b85c"]]},{"id":"23bdf480.46b85c","type":"change","z":"4c8e9898.239c88","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.0.40","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"this is a test and nothing but a test","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"En-gb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":320,"wires":[["8d9663a.05e27a"]]},{"id":"b885e401.447548","type":"debug","z":"4c8e9898.239c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"9a5a2ce.5ae7ed","type":"comment","z":"4c8e9898.239c88","name":"say a text","info":"","x":60,"y":280,"wires":[]}]